<header class="header">
  <div class="header-logo-wrapper">
    <div class="header-logo-image">
      <a href="https://kontulari.com.br/" title="Kontulari">
        {{!-- full logo for desktop --}}
        <div class="evoko-logo-full">
          <img src={{assets 'logo.png' }} alt="Logotipo">
        </div>
        {{!-- favicon for mobile --}}

        <div class="evoko-logo-fav">
          <img src={{assets 'favicon.png' }} alt="Logotipo">
        </div>
      </a>
    </div>
    <div class="header-logo-title">
      <a href="/hc/pt-br" title="Kontulari suporte">suporte</a>
    </div>
  </div>
  <div class="nav-wrapper">
    <span class="icon-menu" tabindex="0" role="button" aria-controls="user-nav" aria-expanded="false"
      aria-label="{{t 'toggle_navigation'}}"></span>
    <nav class="user-nav" id="user-nav">
      {{link 'community' class='community-link'}}
      {{link 'new_request' class='submit-a-request'}}
    </nav>
    {{user_info}}
  </div>
</header>