<header class="header">
  <div class="header-logo-wrapper">
    <div class="header-logo-image">
      <a href="https://kontulari.com.br/" title="Kontulari">
        <div class="evoko-logo-full">

          <img src="{{settings.logo}}" alt="Logotipo" height="30px" width="116.11px" />

        </div>
      </a>
    </div>
    <div class="header-logo-title">
      <a href="/hc/pt-br" title="Kontulari suporte">suporte</a>
    </div>
  </div>
  <div class="nav-wrapper">
    <nav class="user-nav" id="user-nav">
      {{page_path 'new_request'}}
    </nav>
    <nav class="user-nav" id="user-nav">
      {{page_path 'my_activities'}}
    </nav>
    <span class="icon-menu" tabindex="0" role="button" aria-controls="user-nav" aria-expanded="false"
      aria-label="{{t 'toggle_navigation'}}"></span>
    <nav class="user-nav" id="user-nav">
      {{link 'community' class='community-link'}}
      {{link 'new_request' class='submit-a-request'}}
    </nav>
    {{user_info}}
  </div>
</header>