<!-- Start of kontulari Zendesk Widget script -->
<script id="ze-snippet"
  src="https://static.zdassets.com/ekr/snippet.js?key=21424456-4e32-4d4c-955d-c29314d7cfa5"> </script>
<!-- End of kontulari Zendesk Widget script -->

{{!-- Hide header background on the home page --}}
<style>
  .header {
    background-color: transparent;
    box-shadow: none;
  }
</style>

<section class="section hero hero-large">
  <div class="hero-inner">
    <h1 class="hero-inner-home-heading">Olá! Como podemos te ajudar?</h1>
    <div class="hero-inner-search">
      {{!-- placeholder="Buscar em nossa base
      de conhecimento..." --}}
      {{search submit=false instant=settings.instant_search class="search search-full"}}
    </div>
    {{!-- <p class="hero-inner-description"><strong><i class="fas fa-book"></i> Guides:</strong> getting started with <a
        href="/hc/en-us/articles/360052707871">Evoko Naso</a>, <a href="/hc/en-us/articles/360014969032">Evoko Liso</a>
      or <a href="/hc/en-us/articles/360032926451">Evoko
        Pusco</a>?</p> --}}
  </div>
</section>

<div class="container">
  <section class="section knowledge-base">
    {{!-- <h1 class="home-categories-heading" id="browse-knowledge-base">Browse knowledge base</h1> --}}
    {{!-- <section class="categories blocks">
      <ul class="blocks-list">
        {{#each categories}}
        {{#if ../has_multiple_categories}}
        <li class="blocks-item">
          <a href='{{url}}' class="blocks-item-link">
            {{#is name 'Evoko Room Manager'}}
            <img alt="Evoko Room Manager" src="{{asset 'home-room-manager.png'}}" />
            {{/is}}
            {{#is name 'Evoko Minto'}}
            <img alt="Evoko Minto" src="{{asset 'home-minto.png'}}" />
            {{/is}}
            {{#is name 'Evoko Liso'}}
            <img alt="Evoko Liso" src="{{asset 'home-liso.png'}}" />
            {{/is}}
            {{#is name 'Evoko Groupie'}}
            <img alt="Evoko Groupie" src="{{asset 'home-groupie.png'}}" />
            {{/is}}
            {{#is name 'Evoko Pusco'}}
            <img alt="Evoko Pusco" src="{{asset 'home-pusco.png'}}" />
            {{/is}}
            {{#is name 'Evoko Naso'}}
            <img alt="Evoko Naso" src="{{asset 'home-naso.png'}}" />
            {{/is}}
            {{#is name 'General'}}
            <img alt="General" src="{{asset 'home-general.png'}}" />
            {{/is}}
            <h2 class="blocks-item-title">{{name}}</h2>
            <p class="blocks-item-description">{{excerpt description}}</p>
          </a>
        </li>
        {{else}}
        {{#each sections}}
        <li class="blocks-item">
          <a href='{{url}}' class="blocks-item-link">
            <h2 class="blocks-item-title">
              {{name}}
            </h2>
            <p class="blocks-item-description">{{excerpt description}}</p>
          </a>
        </li>
        {{/each}}
        {{/if}}
        {{/each}}
      </ul>
      {{pagination}}
    </section> --}}

    {{!-- {{#if promoted_articles}}
    <section class="articles">
      <h3>{{t 'promoted_articles'}}</h3>
      <ul class="article-list promoted-articles">
        {{#each promoted_articles}}
        <li class="promoted-articles-item">
          <a href="{{url}}">
            {{title}}

            {{#if internal}}
            <span class="icon-lock" title="{{t 'internal'}}"></span>
            {{/if}}
          </a>
        </li>
        {{/each}}
      </ul>
    </section>
    {{/if}}
  </section> --}}

  {{!-- {{#if help_center.community_enabled}}
  <section class="section community">
    <h2>{{t 'community'}}</h2>
    {{#link 'community' class='community-link'}}
    {{t 'join_conversation'}}
    {{/link}}

    <div class="community-image"></div>
  </section>
  {{/if}} --}}

  {{!-- <section class="section activity">
    {{#if settings.show_recent_activity}}
    {{recent_activity}}
    {{/if}}
  </section> --}}

  <section class="categories blocks">
    <ul class="blocks-list">
      <li class="blocks-item-ca">
        <a href='#!' class="blocks-item-link" id="btn-informe-rendimento">
          <img src="//theme.zdassets.com/theme_assets/527873/b85914de2ab08c1a973ec5bcf09ef54867e76816.png">
          <h4 class="blocks-item-title">Movimentações Bancárias</h4>
        </a>
      </li>
      <li class="blocks-item-ca">
        <a href='#!' class="blocks-item-link" id="btn-notas">
          <img src="//theme.zdassets.com/theme_assets/527873/a9c0b828a739de1ecfcf620eb3d4db7c926cf15d.png">
          <h4 class="blocks-item-title">Notas Fiscais<br><br></h4>
        </a>
      </li>
      <li class="blocks-item-ca">
        <a href='#!' class="blocks-item-link" id="btn-imposto">
          <img src="//theme.zdassets.com/theme_assets/527873/9038fb45f3e45c21284eb527a9185ef4df639fa9.png">
          <h4 class="blocks-item-title">Imposto <br><br></h4>
        </a>
      </li>
      <li class="blocks-item-ca">
        <a href='#!' class="blocks-item-link" id="btn-prolabore">
          <img src="//theme.zdassets.com/theme_assets/527873/be076b8133dc02b2a64eb9c1d038f24bde3c924e.png">
          <h4 class="blocks-item-title">Sócios e Pró-labore<br><br></h4>
        </a>
      </li>
      <li class="blocks-item-ca">
        <a href='#!' class="blocks-item-link" id="btn-documentacao">
          <img src="//theme.zdassets.com/theme_assets/527873/1024e87c7b79bbd7e1071e69c866c34e5dfb21d1.png">
          <h4 class="blocks-item-title">Solicitação de documentação</h4>
        </a>
      </li>
    </ul>


    <div class="container" id="links-info-rendimento">
      <section class="section knowledge-base kb-margem-one">
        <section class="categories blocks">
          <ul class="blocks-list">

            <li class="only-servico-channel blocks-item-contato-group">
              <span class="label label-success">Recomendado</span>
              <div class="blocks-item-contato-destaque">
                <a href='#!' class="blocks-item-link" id="chat-rendimento">
                  <img src="//theme.zdassets.com/theme_assets/527873/0ffbae7a10bbd622d8e23cdcaf10e36bc9984dfe.png">
                  <h4 class="blocks-item-title">Fale por chat</h4>
                </a>
              </div>
            </li>

            <li class="blocks-item-contato-group">
              <span class="label label-line">-</span>
              <div class="blocks-item-contato">
                <a href='https://suporte.kontulari.com.br/hc/pt-br/requests/new?ticket_form_id=360000567120'
                  class="blocks-item-link">
                  <img src="//theme.zdassets.com/theme_assets/527873/2738977d62795124bb11a09aac6ba6afa0886ce6.png">
                  <h4 class="blocks-item-title bg-contato">Abrir chamado</h4>
                </a>
              </div>
            </li>

          </ul>
        </section>
      </section>
    </div>

    <div class="container" id="links-info-notas">
      <section class="section knowledge-base kb-margem-one">
        <section class="categories blocks">
          <ul class="blocks-list">

            <li class="only-servico-channel blocks-item-contato-group">
              <span class="label label-success">Recomendado</span>
              <div class="blocks-item-contato-destaque">
                <a href='#!' class="blocks-item-link" id="chat-notas">
                  <img src="//theme.zdassets.com/theme_assets/527873/0ffbae7a10bbd622d8e23cdcaf10e36bc9984dfe.png">
                  <h4 class="blocks-item-title">Fale por chat</h4>
                </a>
              </div>
            </li>

            <li class="blocks-item-contato-group">
              <span class="label label-line">-</span>
              <div class="blocks-item-contato">
                <a href='https://suporte.kontulari.com.br/hc/pt-br/requests/new?ticket_form_id=360000567080'
                  class="blocks-item-link">
                  <img src="//theme.zdassets.com/theme_assets/527873/2738977d62795124bb11a09aac6ba6afa0886ce6.png">
                  <h4 class="blocks-item-title bg-contato">Abrir chamado</h4>
                </a>
              </div>
            </li>

            <li class="only-servico-channel blocks-item-contato-group">
              <span class="label label-line">-</span>
              <div class="blocks-item-contato">
                <a href='#!' class="blocks-item-link whats-acesso">
                  <img src="//theme.zdassets.com/theme_assets/527873/7593414a7227405f4c3323010621af66ac759adc.png">
                  <h4 class="blocks-item-title">Falar por Whatsapp</h4>
                </a>
              </div>
            </li>


            <li class="only-servico-channel blocks-item-contato-group">
              <span class="label label-line">-</span>
              <div class="blocks-item-contato">
                <a href='#!' class="blocks-item-link fone-acesso">
                  <img src="//theme.zdassets.com/theme_assets/527873/85805e36085491917319d86a8f4f5d796e3c62e3.png">
                  <h4 class="blocks-item-title">Falar por Telefone</h4>
                </a>
              </div>
            </li>


          </ul>
        </section>
      </section>
    </div>

    <div class="container" id="links-info-imposto">
      <section class="section knowledge-base kb-margem-one">
        <section class="categories blocks">
          <ul class="blocks-list">

            <li class="only-servico-channel blocks-item-contato-group">
              <span class="label label-success">Recomendado</span>
              <div class="blocks-item-contato-destaque">
                <a href='#!' class="blocks-item-link" id="chat-imposto">
                  <img src="//theme.zdassets.com/theme_assets/527873/0ffbae7a10bbd622d8e23cdcaf10e36bc9984dfe.png">
                  <h4 class="blocks-item-title">Fale por chat</h4>
                </a>
              </div>
            </li>
            <li class="blocks-item-contato-group">
              <span class="label label-line">-</span>
              <div class="blocks-item-contato">
                <a href='https://suporte.kontulari.com.br/hc/pt-br/requests/new?ticket_form_id=360000551459'
                  class="blocks-item-link">
                  <img src="//theme.zdassets.com/theme_assets/527873/2738977d62795124bb11a09aac6ba6afa0886ce6.png">
                  <h4 class="blocks-item-title bg-contato">Abrir chamado</h4>
                </a>
              </div>
            </li>
            <li class="only-servico-channel blocks-item-contato-group">
              <span class="label label-line">-</span>
              <div class="blocks-item-contato">
                <a href='#!' class="blocks-item-link whats-acesso">
                  <img src="//theme.zdassets.com/theme_assets/527873/7593414a7227405f4c3323010621af66ac759adc.png">
                  <h4 class="blocks-item-title">Falar por Whatsapp</h4>
                </a>
              </div>
            </li>
            <li class="only-servico-channel blocks-item-contato-group">
              <span class="label label-line">-</span>
              <div class="blocks-item-contato">
                <a href='#!' class="blocks-item-link fone-acesso">
                  <img src="//theme.zdassets.com/theme_assets/527873/85805e36085491917319d86a8f4f5d796e3c62e3.png">
                  <h4 class="blocks-item-title">Falar por Telefone</h4>
                </a>
              </div>
            </li>




          </ul>
        </section>
      </section>
    </div>

    <div class="container" id="links-info-prolabore">
      <section class="section knowledge-base kb-margem-one">
        <section class="categories blocks">
          <ul class="blocks-list">
            <li class="only-servico-channel blocks-item-contato-group">
              <span class="label label-success">Recomendado</span>
              <div class="blocks-item-contato-destaque">
                <a href='#!' class="blocks-item-link" id="chat-prolabore">
                  <img src="//theme.zdassets.com/theme_assets/527873/0ffbae7a10bbd622d8e23cdcaf10e36bc9984dfe.png">
                  <h4 class="blocks-item-title">Fale por chat</h4>
                </a>
              </div>
            </li>
            <li class="blocks-item-contato-group">
              <span class="label label-line">-</span>
              <div class="blocks-item-contato">
                <a href='https://suporte.kontulari.com.br/hc/pt-br/requests/new?ticket_form_id=360000567160'
                  class="blocks-item-link">
                  <img src="//theme.zdassets.com/theme_assets/527873/2738977d62795124bb11a09aac6ba6afa0886ce6.png">
                  <h4 class="blocks-item-title bg-contato">Abrir chamado</h4>
                </a>
              </div>
            </li>
            <li class="only-servico-channel blocks-item-contato-group">
              <span class="label label-line">-</span>
              <div class="blocks-item-contato">
                <a href='#!' class="blocks-item-link whats-acesso">
                  <img src="//theme.zdassets.com/theme_assets/527873/7593414a7227405f4c3323010621af66ac759adc.png">
                  <h4 class="blocks-item-title">Falar por Whatsapp</h4>
                </a>
              </div>
            </li>
            <li class="only-servico-channel blocks-item-contato-group">
              <span class="label label-line">-</span>
              <div class="blocks-item-contato">
                <a href='#!' class="blocks-item-link fone-acesso">
                  <img src="//theme.zdassets.com/theme_assets/527873/85805e36085491917319d86a8f4f5d796e3c62e3.png">
                  <h4 class="blocks-item-title">Falar por Telefone</h4>
                </a>
              </div>
            </li>

          </ul>
        </section>
      </section>
    </div>

    <div class="container" id="links-info-documentacao">
      <section class="section knowledge-base kb-margem-one">
        <section class="categories blocks">
          <ul class="blocks-list">
            <li class="only-servico-channel blocks-item-contato-group">
              <span class="label label-success">Recomendado</span>
              <div class="blocks-item-contato-destaque">
                <a href='#!' class="blocks-item-link" id="chat-documentacao">
                  <img src="//theme.zdassets.com/theme_assets/527873/0ffbae7a10bbd622d8e23cdcaf10e36bc9984dfe.png">
                  <h4 class="blocks-item-title">Fale por chat</h4>
                </a>
              </div>
            </li>
            <li class="blocks-item-contato-group">
              <span class="label label-line">-</span>
              <div class="blocks-item-contato">
                <a href='https://suporte.kontulari.com.br/hc/pt-br/requests/new?ticket_form_id=360000567180'
                  class="blocks-item-link">
                  <img src="//theme.zdassets.com/theme_assets/527873/2738977d62795124bb11a09aac6ba6afa0886ce6.png">
                  <h4 class="blocks-item-title bg-contato">Abrir chamado</h4>
                </a>
              </div>
            </li>
            <li class="only-servico-channel blocks-item-contato-group">
              <span class="label label-line">-</span>
              <div class="blocks-item-contato">
                <a href='#!' class="blocks-item-link whats-acesso">
                  <img src="//theme.zdassets.com/theme_assets/527873/7593414a7227405f4c3323010621af66ac759adc.png">
                  <h4 class="blocks-item-title">Falar por Whatsapp</h4>
                </a>
              </div>
            </li>
            <li class="only-servico-channel blocks-item-contato-group">
              <span class="label label-line">-</span>
              <div class="blocks-item-contato">
                <a href='#!' class="blocks-item-link fone-acesso">
                  <img src="//theme.zdassets.com/theme_assets/527873/85805e36085491917319d86a8f4f5d796e3c62e3.png">
                  <h4 class="blocks-item-title">Falar por Telefone</h4>
                </a>
              </div>
            </li>

          </ul>
        </section>
      </section>
    </div>






    <ul class="blocks-list">
      <li class="blocks-item-ca">
        <a href='#!' class="blocks-item-link" id="btn-mensalidade">
          <img src="//theme.zdassets.com/theme_assets/527873/661ed6b3c63fd4140fadd4c65b7aa1ac07c4a4a9.png">
          <h4 class="blocks-item-title">Mensalidade<br><br></h4>
        </a>
      </li>
      <li class="blocks-item-ca">
        <a href='#!' class="blocks-item-link" id="btn-adicionais">
          <img src="//theme.zdassets.com/theme_assets/527873/d318992f2b3d36029fe4861009d42d1ebfbaa1e1.png">
          <h4 class="blocks-item-title">Serviços Adicionais<br><br></h4>
        </a>
      </li>
      <li class="blocks-item-ca">
        <a href='#!' class="blocks-item-link" id="btn-alteracao-baixa">
          <img src="//theme.zdassets.com/theme_assets/527873/014e84931f1cf51f3191fc6d130f20fcffaf32e8.png">
          <h4 class="blocks-item-title">Alteração e baixa<br><br></h4>
        </a>
      </li>
      <li class="blocks-item-ca">
        <a href='#!' class="blocks-item-link" id="btn-folha">
          <img src="//theme.zdassets.com/theme_assets/527873/dc8fc0fc4f56fa13e5d50c49112b0e5371b194f4.png">
          <h4 class="blocks-item-title">Folha de pagamento</h4>
        </a>
      </li>
      <li class="blocks-item-ca">
        <a href='#!' class="blocks-item-link" id="btn-outros-assuntos">
          <img src="//theme.zdassets.com/theme_assets/527873/910c14dc12b1ef2d4e0553747bc9098d108b4689.png">
          <h4 class="blocks-item-title">Outros assuntos<br><br></h4>
        </a>
      </li>
    </ul>

    <div class="container" id="links-info-mensalidade">
      <section class="section knowledge-base kb-margem-one">
        <section class="categories blocks">
          <ul class="blocks-list">
            <li class="blocks-item-contato-group">
              <span class="label label-success">Recomendado</span>
              <div class="blocks-item-contato">
                <a href='https://app.kontulari.com.br/sistema/#/pagto-pendente' class="blocks-item-link">
                  <img src="//theme.zdassets.com/theme_assets/527873/661ed6b3c63fd4140fadd4c65b7aa1ac07c4a4a9.png">
                  <h4 class="blocks-item-title">Ver faturas pendentes</h4>
                </a>
              </div>
            </li>
            <li class="blocks-item-contato-group">
              <span class="label label-line">-</span>
              <div class="blocks-item-contato">
                <a href='https://app.kontulari.com.br/sistema/#/pagto-pendente' class="blocks-item-link">
                  <img src="//theme.zdassets.com/theme_assets/527873/810383b1d884bcdafe57955129b48274f43b92f1.png">
                  <h4 class="blocks-item-title">Segunda via fatura</h4>
                </a>
              </div>
            </li>
            <li class="only-servico-channel blocks-item-contato-group">
              <span class="label label-line">-</span>
              <div class="blocks-item-contato-destaque">
                <a href='#!' class="blocks-item-link" id="chat-mensalidade">
                  <img src="//theme.zdassets.com/theme_assets/527873/0ffbae7a10bbd622d8e23cdcaf10e36bc9984dfe.png">
                  <h4 class="blocks-item-title">Fale por chat</h4>
                </a>
              </div>
            </li>

            <li class="blocks-item-contato-group">
              <span class="label label-line">-</span>
              <div class="blocks-item-contato">
                <a href='https://suporte.kontulari.com.br/hc/pt-br/requests/new?ticket_form_id=360000557080'
                  class="blocks-item-link">
                  <img src="//theme.zdassets.com/theme_assets/527873/2738977d62795124bb11a09aac6ba6afa0886ce6.png">
                  <h4 class="blocks-item-title bg-contato">Abrir chamado</h4>
                </a>
              </div>
            </li>

            <li class="only-servico-channel blocks-item-contato-group">
              <span class="label label-line">-</span>
              <div class="blocks-item-contato">
                <a href='#!' class="blocks-item-link whats-acesso">
                  <img src="//theme.zdassets.com/theme_assets/527873/7593414a7227405f4c3323010621af66ac759adc.png">
                  <h4 class="blocks-item-title">Falar por Whatsapp</h4>
                </a>
              </div>
            </li>

            <li class="only-servico-channel blocks-item-contato-group">
              <span class="label label-line">-</span>
              <div class="blocks-item-contato">
                <a href='#!' class="blocks-item-link fone-acesso">
                  <img src="//theme.zdassets.com/theme_assets/527873/85805e36085491917319d86a8f4f5d796e3c62e3.png">
                  <h4 class="blocks-item-title">Falar por Telefone</h4>
                </a>
              </div>
            </li>
          </ul>
        </section>
      </section>
    </div>


    <div class="container" id="links-info-adicionais">

      <section class="section knowledge-base kb-margem-one">
        <section class="categories blocks">
          <ul id="servicos-adicionais" class="blocks-list">
            <li class="only-servico-channel blocks-item-contato-group">
              <span class="label label-success">Recomendado</span>
              <div class="blocks-item-contato-destaque">
                <a href='https://app.kontulari.com.br/sistema/#/servicos-disponiveis' class="blocks-item-link">
                  <img src="//theme.zdassets.com/theme_assets/527873/01f5acbf2b7072caab5c5f8788c8e4b291a8ba23.png">
                  <h4 class="blocks-item-title">Solicitar Serviços Adicionais</h4>
                </a>
              </div>
            </li>

            <section class="section knowledge-base kb-margem-one">
              <section class="categories blocks">
                <ul class="blocks-list">

                  <li class="only-servico-channel blocks-item-contato-group">
                    <!--  <span class="label label-success">Recomendado</span> -->
                    <span class="label label-line">-</span>
                    <div class="blocks-item-contato-destaque">
                      <a href='#!' class="blocks-item-link" id="chat-adicionais">
                        <img
                          src="//theme.zdassets.com/theme_assets/527873/0ffbae7a10bbd622d8e23cdcaf10e36bc9984dfe.png">
                        <h4 class="blocks-item-title">Fale por chat</h4>
                      </a>
                    </div>
                  </li>
                  <li class="blocks-item-contato-group">
                    <span class="label label-line">-</span>
                    <div class="blocks-item-contato">
                      <a href='https://suporte.kontulari.com.br/hc/pt-br/requests/new?ticket_form_id=360000567100'
                        class="blocks-item-link">
                        <img
                          src="//theme.zdassets.com/theme_assets/527873/2738977d62795124bb11a09aac6ba6afa0886ce6.png">
                        <h4 class="blocks-item-title bg-contato">Abrir chamado</h4>
                      </a>
                    </div>
                  </li>
                  <li class="only-servico-channel blocks-item-contato-group">
                    <span class="label label-line">-</span>
                    <div class="blocks-item-contato">
                      <a href='#!' class="blocks-item-link whats-acesso">
                        <img
                          src="//theme.zdassets.com/theme_assets/527873/7593414a7227405f4c3323010621af66ac759adc.png">
                        <h4 class="blocks-item-title">Falar por Whatsapp</h4>
                      </a>
                    </div>
                  </li>
                  <li class="only-servico-channel blocks-item-contato-group">
                    <span class="label label-line">-</span>
                    <div class="blocks-item-contato">
                      <a href='#!' class="blocks-item-link fone-acesso">
                        <img
                          src="//theme.zdassets.com/theme_assets/527873/85805e36085491917319d86a8f4f5d796e3c62e3.png">
                        <h4 class="blocks-item-title">Falar por Telefone</h4>
                      </a>
                    </div>
                  </li>





                </ul>
              </section>
            </section>
    </div>

    <div class="container" id="links-info-alteracao-baixa">
      <section class="section knowledge-base kb-margem-one">
        <section class="categories blocks">
          <ul class="blocks-list">
            <li class="only-servico-channel blocks-item-contato-group">
              <span class="label label-success">Recomendado</span>
              <div class="blocks-item-contato-destaque">
                <a href='#!' class="blocks-item-link" id="chat-alteracao-baixa">
                  <img src="//theme.zdassets.com/theme_assets/527873/0ffbae7a10bbd622d8e23cdcaf10e36bc9984dfe.png">
                  <h4 class="blocks-item-title">Fale por chat</h4>
                </a>
              </div>
            </li>
            <li class="blocks-item-contato-group">
              <span class="label label-line">-</span>
              <div class="blocks-item-contato">
                <a href='https://suporte.kontulari.com.br/hc/pt-br/requests/new?ticket_form_id=360000567020'
                  class="blocks-item-link">
                  <img src="//theme.zdassets.com/theme_assets/527873/2738977d62795124bb11a09aac6ba6afa0886ce6.png">
                  <h4 class="blocks-item-title bg-contato">Abrir chamado</h4>
                </a>
              </div>
            </li>
            <li class="only-servico-channel blocks-item-contato-group">
              <span class="label label-line">-</span>
              <div class="blocks-item-contato">
                <a href='#!' class="blocks-item-link whats-acesso">
                  <img src="//theme.zdassets.com/theme_assets/527873/7593414a7227405f4c3323010621af66ac759adc.png">
                  <h4 class="blocks-item-title">Falar por Whatsapp</h4>
                </a>
              </div>
            </li>
            <li class="only-servico-channel blocks-item-contato-group">
              <span class="label label-line">-</span>
              <div class="blocks-item-contato">
                <a href='#!' class="blocks-item-link fone-acesso">
                  <img src="//theme.zdassets.com/theme_assets/527873/85805e36085491917319d86a8f4f5d796e3c62e3.png">
                  <h4 class="blocks-item-title">Falar por Telefone</h4>
                </a>
              </div>
            </li>



          </ul>
        </section>
      </section>
    </div>

    <div class="container" id="links-info-folha">
      <section class="section knowledge-base kb-margem-one">
        <section class="categories blocks">
          <ul class="blocks-list">

            <li class="only-servico-channel blocks-item-contato-group">
              <span class="label label-success">Recomendado</span>
              <div class="blocks-item-contato-destaque">
                <a href='#!' class="blocks-item-link" id="chat-folha">
                  <img src="//theme.zdassets.com/theme_assets/527873/0ffbae7a10bbd622d8e23cdcaf10e36bc9984dfe.png">
                  <h4 class="blocks-item-title">Fale por chat</h4>
                </a>
              </div>
            </li>

            <li class="blocks-item-contato-one">
              <div class="blocks-item-contato-destaque-one">
                <a href='https://suporte.kontulari.com.br/hc/pt-br/requests/new?ticket_form_id=360000551479'
                  class="blocks-item-link">
                  <img src="//theme.zdassets.com/theme_assets/527873/2738977d62795124bb11a09aac6ba6afa0886ce6.png">
                  <h4 class="blocks-item-title bg-contato">Abrir chamado</h4>
                </a>
              </div>
            </li>



          </ul>
        </section>
      </section>
    </div>

    <div class="container" id="links-info-outros-assuntos">
      <section class="section knowledge-base kb-margem-one">
        <section class="categories blocks">
          <ul class="blocks-list">
            <li class="only-servico-channel blocks-item-contato-group">
              <span class="label label-success">Recomendado</span>
              <div class="blocks-item-contato-destaque">
                <a href='#!' class="blocks-item-link" id="chat-outros-assuntos">
                  <img src="//theme.zdassets.com/theme_assets/527873/0ffbae7a10bbd622d8e23cdcaf10e36bc9984dfe.png">
                  <h4 class="blocks-item-title">Fale por chat</h4>
                </a>
              </div>
            </li>
            <li class="blocks-item-contato-group">
              <span class="label label-line">-</span>
              <div class="blocks-item-contato">
                <a href='https://suporte.kontulari.com.br/hc/pt-br/requests/new?ticket_form_id=360000551499'
                  class="blocks-item-link">
                  <img src="//theme.zdassets.com/theme_assets/527873/2738977d62795124bb11a09aac6ba6afa0886ce6.png">
                  <h4 class="blocks-item-title bg-contato">Abrir chamado</h4>
                </a>
              </div>
            </li>
            <li class="only-servico-channel blocks-item-contato-group">
              <span class="label label-line">-</span>
              <div class="blocks-item-contato">
                <a href='#!' class="blocks-item-link whats-acesso">
                  <img src="//theme.zdassets.com/theme_assets/527873/7593414a7227405f4c3323010621af66ac759adc.png">
                  <h4 class="blocks-item-title">Falar por Whatsapp</h4>
                </a>
              </div>
            </li>
            <li class="only-servico-channel blocks-item-contato-group">
              <span class="label label-line">-</span>
              <div class="blocks-item-contato">
                <a href='#!' class="blocks-item-link fone-acesso">
                  <img src="//theme.zdassets.com/theme_assets/527873/85805e36085491917319d86a8f4f5d796e3c62e3.png">
                  <h4 class="blocks-item-title">Falar por Telefone</h4>
                </a>
              </div>
            </li>
          </ul>
        </section>
      </section>
    </div>
  </section>
</div>