{{!--
<!-- Start of kontulari Zendesk Widget script -->
<script id="ze-snippet"
  src="https://static.zdassets.com/ekr/snippet.js?key=21424456-4e32-4d4c-955d-c29314d7cfa5"> </script>
<!-- End of kontulari Zendesk Widget script -->

{{!-- Hide header background on the home page --}}
<style>
  .header {
    background-color: transparent;
    box-shadow: none;
  }
</style>

<section class="section hero hero-large">
  <div class="hero-inner">
    <h1 class="hero-inner-home-heading">Olá! Como podemos te ajudar?</h1>
    <div class="hero-inner-search">
      {{!-- placeholder="Buscar em nossa base
      de conhecimento..." --}}
      {{search submit=false instant=settings.instant_search class="search search-full"}}
    </div>
    {{!-- <p class="hero-inner-description"><strong><i class="fas fa-book"></i> Guides:</strong> getting started with <a
        href="/hc/en-us/articles/360052707871">Evoko Naso</a>, <a href="/hc/en-us/articles/360014969032">Evoko Liso</a>
      or <a href="/hc/en-us/articles/360032926451">Evoko
        Pusco</a>?</p> --}}
  </div>
</section>

<div class="container">
  <section class="section knowledge-base">
    {{!-- <h1 class="home-categories-heading" id="browse-knowledge-base">Browse knowledge base</h1> --}}
    <section class="categories blocks">
      <ul class="blocks-list">
        {{#each categories}}
        {{#if ../has_multiple_categories}}
        <li class="blocks-item">
          <a href='{{url}}' class="blocks-item-link">
            {{#is name 'Evoko Room Manager'}}
            <img alt="Evoko Room Manager" src="{{asset 'home-room-manager.png'}}" />
            {{/is}}
            {{#is name 'Evoko Minto'}}
            <img alt="Evoko Minto" src="{{asset 'home-minto.png'}}" />
            {{/is}}
            {{#is name 'Evoko Liso'}}
            <img alt="Evoko Liso" src="{{asset 'home-liso.png'}}" />
            {{/is}}
            {{#is name 'Evoko Groupie'}}
            <img alt="Evoko Groupie" src="{{asset 'home-groupie.png'}}" />
            {{/is}}
            {{#is name 'Evoko Pusco'}}
            <img alt="Evoko Pusco" src="{{asset 'home-pusco.png'}}" />
            {{/is}}
            {{#is name 'Evoko Naso'}}
            <img alt="Evoko Naso" src="{{asset 'home-naso.png'}}" />
            {{/is}}
            {{#is name 'General'}}
            <img alt="General" src="{{asset 'home-general.png'}}" />
            {{/is}}
            <h2 class="blocks-item-title">{{name}}</h2>
            <p class="blocks-item-description">{{excerpt description}}</p>
          </a>
        </li>
        {{else}}
        {{#each sections}}
        <li class="blocks-item">
          <a href='{{url}}' class="blocks-item-link">
            <h2 class="blocks-item-title">
              {{name}}
            </h2>
            <p class="blocks-item-description">{{excerpt description}}</p>
          </a>
        </li>
        {{/each}}
        {{/if}}
        {{/each}}
      </ul>
      {{pagination}}
    </section>

    {{!-- {{#if promoted_articles}}
    <section class="articles">
      <h3>{{t 'promoted_articles'}}</h3>
      <ul class="article-list promoted-articles">
        {{#each promoted_articles}}
        <li class="promoted-articles-item">
          <a href="{{url}}">
            {{title}}

            {{#if internal}}
            <span class="icon-lock" title="{{t 'internal'}}"></span>
            {{/if}}
          </a>
        </li>
        {{/each}}
      </ul>
    </section>
    {{/if}}
  </section> --}}

  {{!-- {{#if help_center.community_enabled}}
  <section class="section community">
    <h2>{{t 'community'}}</h2>
    {{#link 'community' class='community-link'}}
    {{t 'join_conversation'}}
    {{/link}}

    <div class="community-image"></div>
  </section>
  {{/if}} --}}

  {{!-- <section class="section activity">
    {{#if settings.show_recent_activity}}
    {{recent_activity}}
    {{/if}}
  </section> --}}
  {{!--
</div> --}}


<!DOCTYPE html>
<html dir="ltr" lang="pt-BR">

<head>
  <meta charset="utf-8" />
  <!-- v19566 -->

  <title>Atendimento da Contabilizei</title>

  <meta name="csrf-param" content="authenticity_token" />
  <meta name="csrf-token"
    content="hc:meta:server:SDfrX3LK8G1dKJu2V2mlWFTkLtsJLYSM9jvgL2xIW5CgpMMPGruQprnEGKEiwWOVji+lPDkEyTnu5uII9c9NdA==" />

  <link rel="canonical" href="https://suporte.contabilizei.com.br/hc/pt-br" />
  <link rel="alternate" hreflang="pt" href="https://suporte.contabilizei.com.br/hc/pt-br" />

  <link rel="stylesheet" media="all"
    href="//static.zdassets.com/hc/assets/application-79172500fb4dbec2484043d570946543.css" id="stylesheet" />
  <!-- Entypo pictograms by Daniel Bruce — www.entypo.com -->
  <link rel="stylesheet" media="all"
    href="//static.zdassets.com/hc/assets/theming_v1_support-cf937686d5b6669242017892da7bad78.css" />
  <link rel="stylesheet" type="text/css"
    href="//p18.zdassets.com/hc/theming_assets/527873/91843/style.css?digest=4399045006610">

  <link rel="shortcut icon" type="image/x-icon"
    href="//theme.zdassets.com/theme_assets/527873/ba96fd145f012177e6134253e5f935dd39447e8d.png" />

  <script src="//static.zdassets.com/hc/assets/jquery-d5395f0b7ac5027403fc17855c46dbfc.js"></script>
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-43025829-1', 'auto');
    ga('send', 'pageview');

  </script>


  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />

  <script type="text/javascript"
    src="//p18.zdassets.com/hc/theming_assets/527873/91843/script.js?digest=4399045006610"></script>
</head>

<body class="">



  <header class="header">
    <!-- start Mixpanel -->
    <script type="text/javascript">(function (c, a) {
        if (!a.__SV) {
          var b = window; try { var d, m, j, k = b.location, f = k.hash; d = function (a, b) { return (m = a.match(RegExp(b + "=([^&]*)"))) ? m[1] : null }; f && d(f, "state") && (j = JSON.parse(decodeURIComponent(d(f, "state"))), "mpeditor" === j.action && (b.sessionStorage.setItem("_mpcehash", f), history.replaceState(j.desiredHash || "", c.title, k.pathname + k.search))) } catch (n) { } var l, h; window.mixpanel = a; a._i = []; a.init = function (b, d, g) {
            function c(b, i) {
              var a = i.split("."); 2 == a.length && (b = b[a[0]], i = a[1]); b[i] = function () {
                b.push([i].concat(Array.prototype.slice.call(arguments,
                  0)))
              }
            } var e = a; "undefined" !== typeof g ? e = a[g] = [] : g = "mixpanel"; e.people = e.people || []; e.toString = function (b) { var a = "mixpanel"; "mixpanel" !== g && (a += "." + g); b || (a += " (stub)"); return a }; e.people.toString = function () { return e.toString(1) + ".people (stub)" }; l = "disable time_event track track_pageview track_links track_forms track_with_groups add_group set_group remove_group register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user people.remove".split(" ");
            for (h = 0; h < l.length; h++)c(e, l[h]); var f = "set set_once union unset remove delete".split(" "); e.get_group = function () { function a(c) { b[c] = function () { call2_args = arguments; call2 = [c].concat(Array.prototype.slice.call(call2_args, 0)); e.push([d, call2]) } } for (var b = {}, d = ["get_group"].concat(Array.prototype.slice.call(arguments, 0)), c = 0; c < f.length; c++)a(f[c]); return b }; a._i.push([b, d, g])
          }; a.__SV = 1.2; b = c.createElement("script"); b.type = "text/javascript"; b.async = !0; b.src = "undefined" !== typeof MIXPANEL_CUSTOM_LIB_URL ?
            MIXPANEL_CUSTOM_LIB_URL : "file:" === c.location.protocol && "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//) ? "https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js" : "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js"; d = c.getElementsByTagName("script")[0]; d.parentNode.insertBefore(b, d)
        }
      })(document, window.mixpanel || []);
      mixpanel.init("5d03de27981f2d901f23975848305270");</script>
    <!-- end Mixpanel -->

    <!-- Start of contabilizei Zendesk Widget script -->
    <script id="ze-snippet"
      src="https://static.zdassets.com/ekr/snippet.js?key=3f773d10-c231-4810-be34-0dbbea4e6e04"> </script>
    <!-- End of contabilizei Zendesk Widget script -->




    <script type="text/javascript">
      window.zESettings = {
        "webWidget": {
          "answerBot": {
            "suppress": true
          }
        }
      }
    </script>







    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <div class="logo">
      <a title="Página inicial" href="/hc/pt-br">
        <img src="//theme.zdassets.com/theme_assets/527873/d7addb22e6b934c69a805b22680038893c822101.png" alt="Logotipo">
      </a>
    </div>
    <div class="nav-wrapper">
      <span class="icon-menu"></span>
      <nav class="user-nav" id="user-nav">


      </nav>
      <div id="user" class="user-info dropdown" data-helper="user_info">
        <div class="btn with-image dropdown-toggle" role="button">
          <img id="user-avatar" class="user-avatar" alt="Elde Oliveira"
            src="https://secure.gravatar.com/avatar/8c17c0f561598fb900373d599d50492c?default=https%3A%2F%2Fassets.zendesk.com%2Fhc%2Fassets%2Fdefault_avatar.png&amp;r=g" />
          <span id="user-name">Elde Oliveira</span>
        </div>
        <div id="user-dropdown" class="dropdown-menu dropdown-menu-end dropdown-menu-caret" aria-expanded="false"
          role="menu">
          <div role="menu" id="user-menu">
            <a class="my-activities" href="/hc/pt-br/requests" role="menuitem">
              Minhas atividades
            </a>


            <a role="menuitem" href="/hc/pt-br/profiles/360984679240-Elde-Oliveira">Meu perfil</a>



            <a href="/access/logout?return_to=https%3A%2F%2Fsuporte.contabilizei.com.br%2Fhc%2Fpt-br"
              role="menuitem">Sair</a>
          </div>

        </div>
      </div>


    </div>
  </header>


  <script type="text/javascript">
    var img_200875579_gray = "";
    var img_200875579 = "//theme.zdassets.com/theme_assets/527873/f1c2b4a94ba198f3e17e035bf52ed9100439d1e1.png";
    var img_200875639_gray = "//theme.zdassets.com/theme_assets/527873/310df1783f1af92cebeeaf2d29e6e2c4c57174c3.png";
    var img_200875639 = "//theme.zdassets.com/theme_assets/527873/61dde76d2c0d3b7adbb1390f768dd0c487f3f2b4.png";
    var img_200934035_gray = "//theme.zdassets.com/theme_assets/527873/67004b367d909a2503fae9e5741f3e9bbca1c7c7.png";
    var img_200934035 = "//theme.zdassets.com/theme_assets/527873/4e6e2f748ca05aeba79235866513dd4a95409db2.png";
    var img_202542746_gray = "//theme.zdassets.com/theme_assets/527873/5b7a5ff0ce942430a85e408443a88baa5367e6a7.png";
    var img_202542746 = "//theme.zdassets.com/theme_assets/527873/ccff9f596b8093a5dd32cdaf1151bc332d9402e3.png";
    var img_202553043_gray = "//theme.zdassets.com/theme_assets/527873/bd6ae6b7a8d8fa0544ed4c3297dccac37c6a5f2d.png";
    var img_202553043 = "//theme.zdassets.com/theme_assets/527873/a3f98e0336fee4b08f2fc25a7ba038ce2a222cd9.png";
    var img_202553903_gray = "//theme.zdassets.com/theme_assets/527873/2e83a283c3c7fbda87b50c8323115f9fee6d5121.png";
    var img_202553903 = "//theme.zdassets.com/theme_assets/527873/ad782b91ea262cc4a647eb95704b214e017f8f12.png";
    var img_360000597740_gray = "//theme.zdassets.com/theme_assets/527873/a0e8130b4c75c32a4521dfff67bef739f5d5a516.png";
    var img_360000597740 = "//theme.zdassets.com/theme_assets/527873/5266cccd92f7b3eea9e1f71c33e7493c30ec110f.png";
    var img_360000597800_gray = "//theme.zdassets.com/theme_assets/527873/910c2b371ff81089b04cbcbd86a53d3dcfd3b492.png";
    var img_360000597800 = "//theme.zdassets.com/theme_assets/527873/b4ebeb20e8a59a1ab9505136049f44ed6645fed0.png";
    var img_360000597840_gray = "//theme.zdassets.com/theme_assets/527873/db18258754d4ffbd3f66cd74843455492f9370c0.png";
    var img_360000597840 = "//theme.zdassets.com/theme_assets/527873/aa5fbf031bc9e9b862122bc6b38ad25ad6955a33.png";
    var img_360000597900_gray = "//theme.zdassets.com/theme_assets/527873/34db8edf93ba08fb56dabe2db7e2e01278f2b575.png";
    var img_360000597900 = "//theme.zdassets.com/theme_assets/527873/fe46262fba3e26362c4b59031cba1c5044cc41aa.png";
    var img_360000598880_gray = "//theme.zdassets.com/theme_assets/527873/4735e402241f92f0a88779d9ffff69acbf0d2653.png";
    var img_360000598880 = "//theme.zdassets.com/theme_assets/527873/9c1c6409e6d15e0b7249a01d0660c51c16ae22f1.png";
    var img_360000600319_gray = "//theme.zdassets.com/theme_assets/527873/8d167077c3e214a40fd14b1323280735beaeea66.png";
    var img_360000600319 = "//theme.zdassets.com/theme_assets/527873/94ff2727a742534277a32af4aeea7646107d0aaf.png";
    var img_360000600379_gray = "//theme.zdassets.com/theme_assets/527873/2de113e6317d7fbdbfcd5c7f3b1fdb9f4370c844.png";
    var img_360000600379 = "//theme.zdassets.com/theme_assets/527873/785ed82080f83dd7a7d616a359b0ce868a09f354.png";
    var img_360000600419_gray = "//theme.zdassets.com/theme_assets/527873/2fb1a3956f3b9cf1cf2e9b97756d15c142d2ca5c.png";
    var img_360000600419 = "//theme.zdassets.com/theme_assets/527873/1dc70399b336ef77130bfd416495c91c567cc2b3.png";
    var img_360000600439_gray = "//theme.zdassets.com/theme_assets/527873/a8f01784d813d11000839345fcadbca74f4808f9.png";
    var img_360000600439 = "//theme.zdassets.com/theme_assets/527873/4655908990d181944b4135d7e4530098ba1e2658.png";
    var img_360000600479_gray = "//theme.zdassets.com/theme_assets/527873/103a24e9b5f62214f825c3bdd173a121af8f5160.png";
    var img_360000600479 = "//theme.zdassets.com/theme_assets/527873/c79ecb20718cd55dd2f48ed72384f9e3ac775813.png";
    var img_360000600499_gray = "//theme.zdassets.com/theme_assets/527873/d3a1b6261340254effd7fc587a80de84a2b793c2.png";
    var img_360000600499 = "//theme.zdassets.com/theme_assets/527873/e61533b83d739d811ab21b8761de91fe09fd6bab.png";
    var img_360000600519_gray = "//theme.zdassets.com/theme_assets/527873/4f772a2d6e19d8cf8c04a55e2191ec1221f248d3.png";
    var img_360000600519 = "//theme.zdassets.com/theme_assets/527873/76833bf0f9c26c9dd0fd44ec41ced30137a7570e.png";
    var img_360000600539_gray = "//theme.zdassets.com/theme_assets/527873/b1a0de2846d96ad98478f68ff3ce923234aa7a2d.png";
    var img_360000600539 = "//theme.zdassets.com/theme_assets/527873/ff85e09c97b123f80229ebffdf1d2a57c0658d99.png";
    var img_360000601699_gray = "//theme.zdassets.com/theme_assets/527873/81092286f14ea540e577cc9b22f246044d0b05b0.png";
    var img_360000601699 = "//theme.zdassets.com/theme_assets/527873/84376b3e04962bf9ea3cc21b773116a677b9ed92.png";
    var img_360000601719_gray = "//theme.zdassets.com/theme_assets/527873/cbd10bcc85d069cf8b035e65d29429e9dbf0f970.png";
    var img_360000601719 = "//theme.zdassets.com/theme_assets/527873/a7caac01be4eec21b12d7dc190bd93437bdec5a3.png";
    var img_360000637879_gray = "//theme.zdassets.com/theme_assets/527873/72136c927da9ff446ab39b36eeae791b24651ce3.png";
    var img_360000637879 = "//theme.zdassets.com/theme_assets/527873/4f571fd9a129474dafbb3c1bc70556c9346ce184.png";
    var img_360000637980_gray = "//theme.zdassets.com/theme_assets/527873/39e801dae8aa21b2bd7bbe91b57fdc78627ae5ed.png";
    var img_360000637980 = "//theme.zdassets.com/theme_assets/527873/7d1bb05b05c43a9ce5d074de8e08ebddccef93e7.png";
    var img_360000638000_gray = "//theme.zdassets.com/theme_assets/527873/9dda0e62b63a1c34a5475de431562a6d5cc99d37.png";
    var img_360000638000 = "//theme.zdassets.com/theme_assets/527873/744b44b3b6c29f4a7a00831334ef4e1a377e3cbf.png";
    var img_360000645360_gray = "//theme.zdassets.com/theme_assets/527873/c65076c2aed96bace76664e7b04057261dc2b88a.png";
    var img_360000645360 = "//theme.zdassets.com/theme_assets/527873/846ba2a42543ce74749ef633fa3f49593076bcb5.png";
    var img_360000646199_gray = "//theme.zdassets.com/theme_assets/527873/1483b4817bb1caa0942bce3152485418703ee2a6.png";
    var img_360000646199 = "//theme.zdassets.com/theme_assets/527873/832a81441e0bdbebf3fd68048f370110078f392c.png";
    var img_360002952020_gray = "//theme.zdassets.com/theme_assets/527873/2fb1a3956f3b9cf1cf2e9b97756d15c142d2ca5c.png";
    var img_360002952020 = "//theme.zdassets.com/theme_assets/527873/1dc70399b336ef77130bfd416495c91c567cc2b3.png";
  </script>


  <main role="main">
    <!-- Twilio chat -->
    <script>
      window.localStorage.removeItem('twilio-flex-cf');
    </script>
    <script src="https://assets.flex.twilio.com/releases/flex-webchat-ui/2.7.1/twilio-flex-webchat.min.js"
      integrity="sha512-uxirrFUoGuvGOOIkCX5ZzQ5WfEuDqRwtherlm5QjZxNeVoFgzL3KZXA98NHV8RsAdR2awLmOmBN1r/QCgEFvhA=="
      crossorigin></script>

    <script src="https://browser.sentry-cdn.com/6.2.2/bundle.min.js"
      integrity="sha384-SEu4bJkpht31dkOz4nRcKDxnisSU+Jc8WRSOnBSZJ2yVMlbk4sAKQSrBw6qBVzKR"
      crossorigin="anonymous"></script>

    <!-- start Mixpanel events -->
    <script type="text/javascript">
      mixpanel.track('ZN suporte home');

      mixpanel.track_links("#servicos-adicionais a", "clicou em servicos adicionais", {
        "referrer": document.referrer
      });
    </script>
    <!-- end Mixpanel events -->


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
      body .modal-dialog {
        max-width: 100%;
        width: auto !important;
        display: inline-block;
      }


      .modal {
        display: none;
        position: fixed;
        z-index: -1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
        text-align: center;
      }

      .modal-open .modal {
        z-index: 1050;
      }


      .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: auto;
      }

      .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }

      .close:hover,
      .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
      }

      .comercio-contato-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: #E9FBFB;
        border-radius: 6px;
      }

      .comercio-contato-box .comercio-contato-item {
        padding: 24px;
        flex: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .comercio-contato-box .paragraph {
        margin: 0px 0px 8px 0px;
        color: #002868;
      }
    </style>

    <script type="text/javascript">
      Sentry.init({
        dsn: "https://d41c3cc7faae4907975eca57739f12f2@o555046.ingest.sentry.io/5684418",
      });

      var twilioWebChat = null;
      var opcaoGate = null;
      var empresa = {
        cnpj: '',
        plano: '',
        ramosAtividade: [],
        isSimples: ''
      }

      $(document).ready(function () {
        function initTwilioChat() {
          if (!Twilio) return;

          var MainHeader = {
            MainHeader: {
              Container: {
                background: "#1F73B7",
                color: "#FFFFFF"
              },
              Logo: {
                fill: '#FFFFFF'
              }
            }
          }

          if (!empresa.cnpj) {
            Sentry.captureMessage('Usuário sem CNPJ: ' + HelpCenter.user.email);
          }

          var appConfig = {
            accountSid: "AC8f0f5116338167901ab4409d4981c5bb",
            flexFlowSid: "FOedf9c0b535455e260f6d6c73dabe83fa",
            context: {
              friendlyName: HelpCenter.user.name,
              email: HelpCenter.user.email,
              guide: 'webchat',
              id: empresa.cnpj || 'SEM_CNPJ'
            },
            componentProps: {
              MainHeader: {
                titleText: 'Contabilizei'
              }
            },
            colorTheme: {
              overrides: MainHeader,
            },
            disableLocalStorage: true,
            fileAttachment: {
              enabled: true,
              acceptedExtensions: ["jpeg", "jpg", "png", "gif", "txt", "pdf", "doc", "docx", "xls", "xlsx"]
            }
          }

          Twilio.FlexWebChat.createWebChat(appConfig).then(webchat => {
            webchat.manager.strings = { //Tradução
              ...webchat._manager.strings,
              EntryPointTagline: "Fale com a gente",
              MessageCanvasTrayContent: `
            <h6>Obrigado pelo contato!</h6>
            <p>Caso ainda tenha dúvidas, por favor entre em contato conosco novamente.</p>`,
              InvalidPreEngagementButton: "Leia mais",
              PredefinedChatMessageAuthorName: "Contabilizei",
              PredefinedChatMessageBody: "Olá! Como posso te ajudar?",
              InputPlaceHolder: "Escreva uma mensagem...",
              TypingIndicator: "Nosso agente está digitando ... ",
              Read: "Lida",
              MessageSendingDisabled: "Enviar mensagem desabilitado",
              Today: "HOJE",
              Yesterday: "ONTEM",
              MessageCanvasTrayButton: "INICIAR NOVA CONVERSA",
              WelcomeMessage: "Bem-vindo(a) ao atendimento Contabilizei",
              Save: "SALVAR",
              Reset: "LIMPAR",
              SendMessageTooltip: "Enviar Mensagem",
              FieldValidationRequiredField: "Campo obrigatório",
              FieldValidationInvalidEmail: "Por favor, insira um e-mail válido",
              AttachFileImageTooltip: "Anexar imagem ou arquivo",
              AttachFileInvalidSize: "O arquivo é muito grande para anexar. O tamanho máximo deve ser 10MB.",
              AttachFileInvalidType: "O arquivo não pode ser anexado pois o tipo do arquivo não é suportado.",
              ConfirmEndEngagementMessage: "Tem certeza que quer encerrar o chat?",
              Connecting: "Conectando …",
              DownloadFileInvalidSize: "{O arquivo é muito grande para baixar. O tamanho máximo pertimitido é 10MB.",
              DownloadFileInvalidType: "{O arquivo não pode ser baixado pois o tipo do arquivo não é suportado.",
              DownloadFileNotParticipant: "Não foi possível baixar o arquivo. Você não é participante deste chat.",
              FileAttachmentDropAreaSubtitle: "Solte o arquivo aqui",
              FileAttachmentDropAreaTitle: "Anexar imagem ou arquivo",
              FilterItemAmountSelected: "Você possui um ou mais itens selecionado(s)",
              FilterItemAny: "Qualquer",
              MediaMessageClickToOpen: "Abrir arquivo",
              MediaMessageError: "Mensagem de mídia não suportada",
              MediaMessageTransferFailed: "Falha no envio",
              MessageCharacterCountReached: "Limite de caracteres atingido",
              NewChatMessageNotificationTitle: "Nova mensagem",
              PendingEngagementCancelButton: "Cancelar",
              PendingEngagementMessage: "Aguarde enquanto te conectamos com um agente disponível",
              PreEngagementMandatoryFieldMessage: "Campo obrigatório *",
              SendMediaMessageInvalidSize: "O arquivo é muito grande para enviar. O tamanho máximo deve ser 10MB.",
              SendMediaMessageInvalidType: "O arquivo não pode ser enviado pois o tipo do arquivo não é suportado."
            }
            twilioWebChat = webchat;
          });
        }

        function openTwilioChat() {
          if (!twilioWebChat._initialized) {
            twilioWebChat.init();
          }

          Twilio.FlexWebChat.Actions.invokeAction("ToggleChatVisibility");
          $("#launcher").hide();
        }

        function openChatCanalExistente(zendesk) {
          if (opcaoGate) {
            openTwilioChat();
          } else {
            initZendeskChat(zendesk.departments);
            zE('webWidget', 'chat:addTags', zendesk.tags);
          }
        }

        function handleChat({ zendesk }) {
          const isEmpresaSomenteServico = empresa.ramosAtividade.length === 1 && empresa.ramosAtividade.includes('serviço');
          // problemas com twilio? exclua o if abaixo.
          if (isEmpresaSomenteServico && empresa.isSimples) {
            if (opcaoGate !== null) {
              openChatCanalExistente(zendesk);
              return;
            }

            fetch('https://tan-ibis-9438.twil.io/gate').then(function (response) {
              return response.json();
            }).then(function (data) {
              opcaoGate = data.option;
              if (data.option) {
                openTwilioChat();
                return;
              }

              initZendeskChat(zendesk.departments);
              zE('webWidget', 'chat:addTags', zendesk.tags);
            });
            return;
          }

          initZendeskChat(zendesk.departments);
          zE('webWidget', 'chat:addTags', zendesk.tags);
        }

        // INICIALIZACÃO
        $("#links-info-rendimento").hide();
        $("#links-info-notas").hide();
        $("#links-info-imposto").hide();
        $("#links-info-prolabore").hide();
        $("#links-info-documentacao").hide();
        $("#links-info-mensalidade").hide();
        $("#links-info-adicionais").hide();
        $("#links-info-alteracao-baixa").hide();
        $("#links-info-folha").hide();
        $("#links-info-outros-assuntos").hide();
        $("#semAcessoFone").hide();
        $("#semAcessoWhats").hide();
        $("#acessoFone").hide();
        $("#acessoWhats").hide();
        $("#comercio-title").hide();
        $("#comercio-contato").hide();
        var statusOrganization = false; // DEFINE SE EMPRESA É OU NÃO ATIVA
        var printWhats = false; // DEFINE SE DEVE SER EXIBIDO DADOS DE CONTATO WHATS/FONE
        var printFone = false;
        var isServicoOrIndustria = false;
        var isComercio = false;
        var isServico = false;
        var isIndustria = false;

        $.each(HelpCenter.user.organizations[0].tags, function (key, value) {
          if (value.includes('cnpj:')) {
            empresa.cnpj = value.split(':')[1];
          }

          if (value.includes('plano:')) {
            empresa.plano = value.split(':')[1];
          }

          if (value === 'simples') {
            empresa.isSimples = true;
          }

          if (value === "status:ativo") {
            statusOrganization = true;
          }

          if (value === "premium") {
            printWhats = true;
            printFone = true;
          }

          if (value === "avancado") {
            printWhats = true;
            printFone = false;
          }

          if (value == "serviço") {
            empresa.ramosAtividade.push(value);
            isServico = true;
          }

          if (value == "indústria") {
            empresa.ramosAtividade.push(value);
            isIndustria = true;
          }

          if (value === "comércio") {
            empresa.ramosAtividade.push(value);
            isComercio = true;
          }
        });

        isServicoOrIndustria = isServico || isIndustria;

        initTwilioChat();

        if (isComercio && !isServicoOrIndustria) {
          $("#comercio-title").show();
          $("#comercio-contato").show();
          $(".only-servico-channel").hide();
        }

        // FUNÇÕES
        function initZendeskChat(departments) {
          console.log("departamento", departments)
          zE('webWidget', 'updateSettings', {
            webWidget: {
              answerBot: {
                suppress: true
              },
              chat: {
                departments: {
                  select: departments
                }
              },
              helpCenter: {
                suppress: true
              },
              launcher: {
                chatLabel: {
                  '*': 'Fale com a gente'
                },
                mobile: {
                  labelVisible: true
                }
              }
            }
          });
          zE('webWidget', 'setLocale', 'pt-br');
          zE('webWidget', 'identify', {
            name: HelpCenter.user.name,
            email: HelpCenter.user.email,
            organization: HelpCenter.user.organizations[0].name
          });
          zE('webWidget', 'open');

        }

        function fecharContato(manterAberto) {
          if (manterAberto != 'links-info-rendimento') {
            $("#links-info-rendimento").hide();
            $("#btn-informe-rendimento").css("background-color", "");
            $("#btn-informe-rendimento").css("color", "#00D1DF");
          }
          if (manterAberto != 'links-info-notas') {
            $("#links-info-notas").hide();
            $("#btn-notas").css("background-color", "");
            $("#btn-notas").css("color", "#00D1DF");
          }
          if (manterAberto != 'links-info-imposto') {
            $("#links-info-imposto").hide();
            $("#btn-imposto").css("background-color", "");
            $("#btn-imposto").css("color", "#00D1DF");
          }
          if (manterAberto != 'links-info-prolabore') {
            $("#links-info-prolabore").hide();
            $("#btn-prolabore").css("background-color", "");
            $("#btn-prolabore").css("color", "#00D1DF");
          }
          if (manterAberto != 'links-info-documentacao') {
            $("#links-info-documentacao").hide();
            $("#btn-documentacao").css("background-color", "");
            $("#btn-documentacao").css("color", "#00D1DF");
          }

          if (manterAberto != 'links-info-mensalidade') {
            $("#links-info-mensalidade").hide();
            $("#btn-mensalidade").css("background-color", "");
            $("#btn-mensalidade").css("color", "#00D1DF");
          }
          if (manterAberto != 'links-info-adicionais') {
            $("#links-info-adicionais").hide();
            $("#btn-adicionais").css("background-color", "");
            $("#btn-adicionais").css("color", "#00D1DF");
          }
          if (manterAberto != 'links-info-alteracao-baixa') {
            $("#links-info-alteracao-baixa").hide();
            $("#btn-alteracao-baixa").css("background-color", "");
            $("#btn-alteracao-baixa").css("color", "#00D1DF");
          }
          if (manterAberto != 'links-info-folha') {
            $("#links-info-folha").hide();
            $("#btn-folha").css("background-color", "");
            $("#btn-folha").css("color", "#00D1DF");
          }
          if (manterAberto != 'links-info-outros-assuntos') {
            $("#links-info-outros-assuntos").hide();
            $("#btn-outros-assuntos").css("background-color", "");
            $("#btn-outros-assuntos").css("color", "#00D1DF");
          }
        }

        // BOTÕES
        $("#btn-informe-rendimento").click(function () {
          fecharContato('links-info-rendimento');
          $("#btn-informe-rendimento").css("background-color", "#00D1DF");
          $("#btn-informe-rendimento").css("color", "#FFFFFF");
          $("#links-info-rendimento").show("fast");
        });

        $("#btn-notas").click(function () {
          fecharContato('links-info-notas');
          $("#btn-notas").css("background-color", "#00D1DF");
          $("#btn-notas").css("color", "#FFFFFF");
          $("#links-info-notas").show("fast");
        });

        $("#btn-imposto").click(function () {
          fecharContato('links-info-imposto');
          $("#btn-imposto").css("background-color", "#00D1DF");
          $("#btn-imposto").css("color", "#FFFFFF");
          $("#links-info-imposto").show("fast");
        });

        $("#btn-prolabore").click(function () {
          fecharContato('links-info-prolabore');
          $("#btn-prolabore").css("background-color", "#00D1DF");
          $("#btn-prolabore").css("color", "#FFFFFF");
          $("#links-info-prolabore").show("fast");
        });

        $("#btn-documentacao").click(function () {
          fecharContato('links-info-documentacao');
          $("#btn-documentacao").css("background-color", "#00D1DF");
          $("#btn-documentacao").css("color", "#FFFFFF");
          $("#links-info-documentacao").show("fast");
        });

        $("#btn-mensalidade").click(function () {
          fecharContato('links-info-mensalidade');
          $("#btn-mensalidade").css("background-color", "#00D1DF");
          $("#btn-mensalidade").css("color", "#FFFFFF");
          $("#links-info-mensalidade").show("fast");
        });

        $("#btn-adicionais").click(function () {
          fecharContato('links-info-adicionais');
          $("#btn-adicionais").css("background-color", "#00D1DF");
          $("#btn-adicionais").css("color", "#FFFFFF");
          $("#links-info-adicionais").show("fast");
        });

        $("#btn-alteracao-baixa").click(function () {
          fecharContato('links-info-alteracao-baixa');
          $("#btn-alteracao-baixa").css("background-color", "#00D1DF");
          $("#btn-alteracao-baixa").css("color", "#FFFFFF");
          $("#links-info-alteracao-baixa").show("fast");
        });

        $("#btn-folha").click(function () {
          fecharContato('links-info-folha');
          $("#btn-folha").css("background-color", "#00D1DF");
          $("#btn-folha").css("color", "#FFFFFF");
          $("#links-info-folha").show("fast");
        });

        $("#btn-outros-assuntos").click(function () {
          fecharContato('links-info-outros-assuntos');
          $("#btn-outros-assuntos").css("background-color", "#00D1DF");
          $("#btn-outros-assuntos").css("color", "#FFFFFF");
          $("#links-info-outros-assuntos").show("fast");
        });


        //CHAT 
        $("#chat-rendimento").click(function () {
          var zendesk = {
            departments: 'Engajamento N1',
            tags: ['guide_home', 'guide_home_movimentacoes_bancarias']
          }

          handleChat({ zendesk });
        });
        $("#chat-notas").click(function () {
          var zendesk = {
            departments: 'Engajamento N1',
            tags: ['guide_home', 'guide_home_notas_fiscais']
          }

          handleChat({ zendesk });
        });
        $("#chat-imposto").click(function () {
          var zendesk = {
            departments: 'Engajamento N1',
            tags: ['guide_home', 'guide_home_impostos']
          }

          handleChat({ zendesk });
        });
        $("#chat-prolabore").click(function () {
          var zendesk = {
            departments: 'Engajamento N1',
            tags: ['guide_home', 'guide_home_pro-labore']
          }

          handleChat({ zendesk });
        });
        $("#chat-documentacao").click(function () {
          var zendesk = {
            departments: 'Engajamento N1',
            tags: ['guide_home', 'guide_home_documentação']
          }

          handleChat({ zendesk });
        });

        $("#chat-mensalidade").click(function () {
          var zendesk = {
            departments: 'Engajamento N1',
            tags: ['guide_home', 'guide_home_mensalidade']
          }

          handleChat({ zendesk });
        });
        $("#chat-adicionais").click(function () {
          var zendesk = {
            departments: 'Engajamento N1',
            tags: ['guide_home', 'guide_home_serviços_avulsos']
          }

          handleChat({ zendesk });
        });
        $("#chat-alteracao-baixa").click(function () {
          var zendesk = {
            departments: 'Engajamento N1',
            tags: ['guide_home', 'guide_home_serviços_avulsos', 'guide_home_alteraçãoebaixa']
          }

          handleChat({ zendesk });
        });
        $("#chat-folha").click(function () {
          initZendeskChat('folha');
          zE('webWidget', 'chat:addTags', ['chat_chamado_folha_pagamentos_cliente']);
          console.log('Folha');
        });
        $("#chat-outros-assuntos").click(function () {
          var zendesk = {
            departments: 'Engajamento N1',
            tags: ['guide_home', 'guide_home_outros']
          }

          handleChat({ zendesk });
        });

        // MODAL
        $(".blocks-item-link.whats-acesso").click(function () {
          if (statusOrganization && printWhats) {
            $("#acessoWhats").modal("show");
          } else {
            $("#semAcessoWhats").modal("show");
          }
        });

        $(".blocks-item-link.fone-acesso").click(function () {
          if (statusOrganization && printFone) {
            $("#acessoFone").modal("show");
          } else {
            $("#semAcessoFone").modal("show");
          }
        });

        // LOG	
        //console.log(HelpCenter.user.organizations[0].tags);
        // console.log("printFone: " + printFone);
        //console.log("printWhats: " + printWhats);


        //console.log("statusOrganization: " + statusOrganization);



      });
    </script>






    <section class="section hero">
      <div class="hero-inner">
        <h1 style="color:#002868;">Conta pra gente: como podemos ajudar?</h1>
        <form role="search" class="search search-full" data-search="" data-instant="true" autocomplete="off"
          action="/hc/pt-br/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden"
            value="&#x2713;" /><input type="search" name="query" id="query" placeholder="Pesquisa" autocomplete="off"
            aria-label="Pesquisa" /></form>
      </div>
    </section>




    <!-- INICIO AVISO -->
    <style>
      .blocoAviso {
        display: flex;
        justify-content: center;
        font-size: 25px;
        padding: 15px;
        margin: 5px;
        border-radius: 10px;
        background-color: #D0DDEA;
        color: #4c4c4c;
      }

      .blocoAvisoOne {
        display: flex;
        justify-content: center;
        font-size: 25px;
        padding: 15px;
        margin: 5px;
        border-radius: 10px;
        background-color: #D0DDEA;
        color: #4c4c4c;
      }
    </style>

    <div class="container">
      <section class="blocoAviso section knowledge-base ">
        <h2> <strong>IRPF 2021</strong>: <a href="https://app.contabilizei.com.br/sistema/#/comprovante-rendimentos"
            target="_blank">Clique aqui</a> para obter o seu Informe de Rendimentos. </h2>
      </section>
    </div>

    <!-- <div class="container">
  <section class="blocoAviso section knowledge-base " >
      <h2>Nosso chat está fora do ar temporiamente, por favor, entre em contato via chamado.</h2>		  
  </section>
</div> -->

    <!-- <div class="container">
  <section class="blocoAviso section knowledge-base " >
    <h2>O emissor de NFs da plataforma está passando por instabilidade. No momento a emissão de notas está indisponível. Por favor, tente novamente mais tarde.</h2>		  
  </section>
</div> -->


    <!--  <div class="container">
    <section class="blocoAviso section knowledge-base " >
      <h2>O sistema da Prefeitura de <strong>Curitiba</strong> está passando por instabilidade. Por isso, você não conseguirá emitir notas fiscais. Por favor, tente novamente mais tarde.</h2>		  
  </section>
</div> -->

    <!--<div class="container">
    <section class="blocoAviso section knowledge-base " >
      <h2>No dia 02/11/2020, a <strong>equipe de atendimento não estará disponível</strong>. Retomaremos as atividades na terça-feira, dia 03/11/2020.</h2>		  
  </section>
</div>-->

    <!-- Template avisos lado a lado -->
    <!--<div class="container">  
  <ul class="blocks-list">
    <li class="blocks-avisos" >
      <section class="blocoAviso section knowledge-base " >
        <h2>Dúvidas sobre <strong>DAS</strong>? <br><a href="https://suporte.contabilizei.com.br/hc/pt-br/articles/360014679059" target="_blank">Clique aqui</a></h2>		  
      </section>
    </li>
    <li class="blocks-avisos" >       
      <section class="blocoAviso section knowledge-base " >
        <h2>Dúvidas sobre <strong>TFLF</strong>? <br><a href="https://suporte.contabilizei.com.br/hc/pt-br/articles/360015512180" target="_blank">Clique aqui</a></h2>		  
      </section>
    </li>
  </ul>-->

    <!-- Template aviso unico ou um em baixo do outro
<div class="container">
  <section class="blocoAviso section knowledge-base " >
    <h2>Identificamos uma instabilidade no atendimento por chat. Você pode falar com a gente através dos outros canais.</h2>		  
  </section>
</div>

<div class="container">
  <section class="blocoAviso section knowledge-base " >
    <h2>Identificamos uma instabilidade no atendimento por chat. Você pode falar com a gente através dos outros canais.</h2>		  
  </section>
</div> 

<div class="container">
  <section class="blocoAviso section knowledge-base " >
    <h2>Dúvidas sobre <strong>DAS</strong>? <br><a href="https://suporte.contabilizei.com.br/hc/pt-br/articles/360014679059" target="_blank">Clique aqui</a></h2>		  
  </section>
</div>

<div class="container">
  <section class="blocoAviso section knowledge-base " >
    <h2>Identificamos uma instabilidade na nossa plataforma e já estamos trabalhando para resolver. Nosso time pode demorar um pouco mais para te responder.</h2>		  
  </section>
</div>

-->






    <!-- FIM AVISO -->

    <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Atendimento do chat:</b>
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Segunda, terça, quinta e sexta:<b> 09:00</b> às <b>11:45</b> e
    <b>13:00</b> às <b>17:30</b>. <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Quarta: <b>09:00</b> às
    <b>11:45</b> e <b>13:00</b> às <b>17:00</b>.
    <p></p>


    <!--div class="container">
  <section id="comercio-title" class="section knowledge-base">
          <h1 class="blocks-item-title">Atendimento Comércio</h1>
  </section>
  <section id="comercio-contato">
    <p><b>O horário de atendimento é de segunda a sexta, das 9h às 18h.</b> E você escolhe a melhor opção para a sua rotina:</p>
    <div class="comercio-contato-box">
      <div class="comercio-contato-item">
        <p class="paragraph"><b>E-mail</b></p>
        <p class="paragraph">comerciofisico@contabilizei.com.br</p>
      </div>
      <div class="comercio-contato-item">
        <p class="paragraph"><b>Whatsapp</b></p>
        <p class="paragraph">41 4042-1616 (dúvidas gerais)</p>
        <p class="paragraph">41 99521-2683 (dúvidas de folha)</p>
      </div>
      <div class="comercio-contato-item">
        <p class="paragraph"><b>Telefone</b></p>
        <p class="paragraph">41 99827-0706</p>
      </div>
    </div>
    <p><b>Dica dos especialistas:</b> ao escolher o telefone, agende sua ligação! Assim, você evita que sua chamada 
    vá para a caixa postal, se nossa equipe estiver em atendimento no mesmo momento.</p>
  </section>
  <section class="section knowledge-base">
          <h2 class="blocks-item-title">Escolha o tema da sua dúvida:</h2> ->>
        
      <b>Atendimento do chat:</b>
    <br>Segunda, terça, quinta e sexta:<b> 09:00</b> às <b>11:45</b> e <b>13:00</b> às <b>17:30</b>. <br>Quarta: <b>09:00</b> às <b>11:45</b> e <b>13:00</b> às <b>17:00</b>. 
        
  </section>
</div-->


    <div class="container">
      <section class="section knowledge-base">
        <section class="categories blocks">
          <ul class="blocks-list">
            <li class="blocks-item-ca">
              <a href='#!' class="blocks-item-link" id="btn-informe-rendimento">
                <img src="//theme.zdassets.com/theme_assets/527873/b85914de2ab08c1a973ec5bcf09ef54867e76816.png">
                <h4 class="blocks-item-title">Movimentações Bancárias</h4>
              </a>
            </li>
            <li class="blocks-item-ca">
              <a href='#!' class="blocks-item-link" id="btn-notas">
                <img src="//theme.zdassets.com/theme_assets/527873/a9c0b828a739de1ecfcf620eb3d4db7c926cf15d.png">
                <h4 class="blocks-item-title">Notas Fiscais<br><br></h4>
              </a>
            </li>
            <li class="blocks-item-ca">
              <a href='#!' class="blocks-item-link" id="btn-imposto">
                <img src="//theme.zdassets.com/theme_assets/527873/9038fb45f3e45c21284eb527a9185ef4df639fa9.png">
                <h4 class="blocks-item-title">Imposto <br><br></h4>
              </a>
            </li>
            <li class="blocks-item-ca">
              <a href='#!' class="blocks-item-link" id="btn-prolabore">
                <img src="//theme.zdassets.com/theme_assets/527873/be076b8133dc02b2a64eb9c1d038f24bde3c924e.png">
                <h4 class="blocks-item-title">Sócios e Pró-labore<br><br></h4>
              </a>
            </li>
            <li class="blocks-item-ca">
              <a href='#!' class="blocks-item-link" id="btn-documentacao">
                <img src="//theme.zdassets.com/theme_assets/527873/1024e87c7b79bbd7e1071e69c866c34e5dfb21d1.png">
                <h4 class="blocks-item-title">Solicitação de documentação</h4>
              </a>
            </li>
          </ul>


          <div class="container" id="links-info-rendimento">
            <section class="section knowledge-base kb-margem-one">
              <section class="categories blocks">
                <ul class="blocks-list">

                  <li class="only-servico-channel blocks-item-contato-group">
                    <span class="label label-success">Recomendado</span>
                    <div class="blocks-item-contato-destaque">
                      <a href='#!' class="blocks-item-link" id="chat-rendimento">
                        <img
                          src="//theme.zdassets.com/theme_assets/527873/0ffbae7a10bbd622d8e23cdcaf10e36bc9984dfe.png">
                        <h4 class="blocks-item-title">Fale por chat</h4>
                      </a>
                    </div>
                  </li>

                  <li class="blocks-item-contato-group">
                    <span class="label label-line">-</span>
                    <div class="blocks-item-contato">
                      <a href='https://suporte.contabilizei.com.br/hc/pt-br/requests/new?ticket_form_id=360000567120'
                        class="blocks-item-link">
                        <img
                          src="//theme.zdassets.com/theme_assets/527873/2738977d62795124bb11a09aac6ba6afa0886ce6.png">
                        <h4 class="blocks-item-title bg-contato">Abrir chamado</h4>
                      </a>
                    </div>
                  </li>

                </ul>
              </section>
            </section>
          </div>

          <div class="container" id="links-info-notas">
            <section class="section knowledge-base kb-margem-one">
              <section class="categories blocks">
                <ul class="blocks-list">

                  <li class="only-servico-channel blocks-item-contato-group">
                    <span class="label label-success">Recomendado</span>
                    <div class="blocks-item-contato-destaque">
                      <a href='#!' class="blocks-item-link" id="chat-notas">
                        <img
                          src="//theme.zdassets.com/theme_assets/527873/0ffbae7a10bbd622d8e23cdcaf10e36bc9984dfe.png">
                        <h4 class="blocks-item-title">Fale por chat</h4>
                      </a>
                    </div>
                  </li>

                  <li class="blocks-item-contato-group">
                    <span class="label label-line">-</span>
                    <div class="blocks-item-contato">
                      <a href='https://suporte.contabilizei.com.br/hc/pt-br/requests/new?ticket_form_id=360000567080'
                        class="blocks-item-link">
                        <img
                          src="//theme.zdassets.com/theme_assets/527873/2738977d62795124bb11a09aac6ba6afa0886ce6.png">
                        <h4 class="blocks-item-title bg-contato">Abrir chamado</h4>
                      </a>
                    </div>
                  </li>

                  <li class="only-servico-channel blocks-item-contato-group">
                    <span class="label label-line">-</span>
                    <div class="blocks-item-contato">
                      <a href='#!' class="blocks-item-link whats-acesso">
                        <img
                          src="//theme.zdassets.com/theme_assets/527873/7593414a7227405f4c3323010621af66ac759adc.png">
                        <h4 class="blocks-item-title">Falar por Whatsapp</h4>
                      </a>
                    </div>
                  </li>


                  <li class="only-servico-channel blocks-item-contato-group">
                    <span class="label label-line">-</span>
                    <div class="blocks-item-contato">
                      <a href='#!' class="blocks-item-link fone-acesso">
                        <img
                          src="//theme.zdassets.com/theme_assets/527873/85805e36085491917319d86a8f4f5d796e3c62e3.png">
                        <h4 class="blocks-item-title">Falar por Telefone</h4>
                      </a>
                    </div>
                  </li>


                </ul>
              </section>
            </section>
          </div>

          <div class="container" id="links-info-imposto">
            <section class="section knowledge-base kb-margem-one">
              <section class="categories blocks">
                <ul class="blocks-list">

                  <li class="only-servico-channel blocks-item-contato-group">
                    <span class="label label-success">Recomendado</span>
                    <div class="blocks-item-contato-destaque">
                      <a href='#!' class="blocks-item-link" id="chat-imposto">
                        <img
                          src="//theme.zdassets.com/theme_assets/527873/0ffbae7a10bbd622d8e23cdcaf10e36bc9984dfe.png">
                        <h4 class="blocks-item-title">Fale por chat</h4>
                      </a>
                    </div>
                  </li>
                  <li class="blocks-item-contato-group">
                    <span class="label label-line">-</span>
                    <div class="blocks-item-contato">
                      <a href='https://suporte.contabilizei.com.br/hc/pt-br/requests/new?ticket_form_id=360000551459'
                        class="blocks-item-link">
                        <img
                          src="//theme.zdassets.com/theme_assets/527873/2738977d62795124bb11a09aac6ba6afa0886ce6.png">
                        <h4 class="blocks-item-title bg-contato">Abrir chamado</h4>
                      </a>
                    </div>
                  </li>
                  <li class="only-servico-channel blocks-item-contato-group">
                    <span class="label label-line">-</span>
                    <div class="blocks-item-contato">
                      <a href='#!' class="blocks-item-link whats-acesso">
                        <img
                          src="//theme.zdassets.com/theme_assets/527873/7593414a7227405f4c3323010621af66ac759adc.png">
                        <h4 class="blocks-item-title">Falar por Whatsapp</h4>
                      </a>
                    </div>
                  </li>
                  <li class="only-servico-channel blocks-item-contato-group">
                    <span class="label label-line">-</span>
                    <div class="blocks-item-contato">
                      <a href='#!' class="blocks-item-link fone-acesso">
                        <img
                          src="//theme.zdassets.com/theme_assets/527873/85805e36085491917319d86a8f4f5d796e3c62e3.png">
                        <h4 class="blocks-item-title">Falar por Telefone</h4>
                      </a>
                    </div>
                  </li>




                </ul>
              </section>
            </section>
          </div>

          <div class="container" id="links-info-prolabore">
            <section class="section knowledge-base kb-margem-one">
              <section class="categories blocks">
                <ul class="blocks-list">
                  <li class="only-servico-channel blocks-item-contato-group">
                    <span class="label label-success">Recomendado</span>
                    <div class="blocks-item-contato-destaque">
                      <a href='#!' class="blocks-item-link" id="chat-prolabore">
                        <img
                          src="//theme.zdassets.com/theme_assets/527873/0ffbae7a10bbd622d8e23cdcaf10e36bc9984dfe.png">
                        <h4 class="blocks-item-title">Fale por chat</h4>
                      </a>
                    </div>
                  </li>
                  <li class="blocks-item-contato-group">
                    <span class="label label-line">-</span>
                    <div class="blocks-item-contato">
                      <a href='https://suporte.contabilizei.com.br/hc/pt-br/requests/new?ticket_form_id=360000567160'
                        class="blocks-item-link">
                        <img
                          src="//theme.zdassets.com/theme_assets/527873/2738977d62795124bb11a09aac6ba6afa0886ce6.png">
                        <h4 class="blocks-item-title bg-contato">Abrir chamado</h4>
                      </a>
                    </div>
                  </li>
                  <li class="only-servico-channel blocks-item-contato-group">
                    <span class="label label-line">-</span>
                    <div class="blocks-item-contato">
                      <a href='#!' class="blocks-item-link whats-acesso">
                        <img
                          src="//theme.zdassets.com/theme_assets/527873/7593414a7227405f4c3323010621af66ac759adc.png">
                        <h4 class="blocks-item-title">Falar por Whatsapp</h4>
                      </a>
                    </div>
                  </li>
                  <li class="only-servico-channel blocks-item-contato-group">
                    <span class="label label-line">-</span>
                    <div class="blocks-item-contato">
                      <a href='#!' class="blocks-item-link fone-acesso">
                        <img
                          src="//theme.zdassets.com/theme_assets/527873/85805e36085491917319d86a8f4f5d796e3c62e3.png">
                        <h4 class="blocks-item-title">Falar por Telefone</h4>
                      </a>
                    </div>
                  </li>

                </ul>
              </section>
            </section>
          </div>

          <div class="container" id="links-info-documentacao">
            <section class="section knowledge-base kb-margem-one">
              <section class="categories blocks">
                <ul class="blocks-list">
                  <li class="only-servico-channel blocks-item-contato-group">
                    <span class="label label-success">Recomendado</span>
                    <div class="blocks-item-contato-destaque">
                      <a href='#!' class="blocks-item-link" id="chat-documentacao">
                        <img
                          src="//theme.zdassets.com/theme_assets/527873/0ffbae7a10bbd622d8e23cdcaf10e36bc9984dfe.png">
                        <h4 class="blocks-item-title">Fale por chat</h4>
                      </a>
                    </div>
                  </li>
                  <li class="blocks-item-contato-group">
                    <span class="label label-line">-</span>
                    <div class="blocks-item-contato">
                      <a href='https://suporte.contabilizei.com.br/hc/pt-br/requests/new?ticket_form_id=360000567180'
                        class="blocks-item-link">
                        <img
                          src="//theme.zdassets.com/theme_assets/527873/2738977d62795124bb11a09aac6ba6afa0886ce6.png">
                        <h4 class="blocks-item-title bg-contato">Abrir chamado</h4>
                      </a>
                    </div>
                  </li>
                  <li class="only-servico-channel blocks-item-contato-group">
                    <span class="label label-line">-</span>
                    <div class="blocks-item-contato">
                      <a href='#!' class="blocks-item-link whats-acesso">
                        <img
                          src="//theme.zdassets.com/theme_assets/527873/7593414a7227405f4c3323010621af66ac759adc.png">
                        <h4 class="blocks-item-title">Falar por Whatsapp</h4>
                      </a>
                    </div>
                  </li>
                  <li class="only-servico-channel blocks-item-contato-group">
                    <span class="label label-line">-</span>
                    <div class="blocks-item-contato">
                      <a href='#!' class="blocks-item-link fone-acesso">
                        <img
                          src="//theme.zdassets.com/theme_assets/527873/85805e36085491917319d86a8f4f5d796e3c62e3.png">
                        <h4 class="blocks-item-title">Falar por Telefone</h4>
                      </a>
                    </div>
                  </li>

                </ul>
              </section>
            </section>
          </div>






          <ul class="blocks-list">
            <li class="blocks-item-ca">
              <a href='#!' class="blocks-item-link" id="btn-mensalidade">
                <img src="//theme.zdassets.com/theme_assets/527873/661ed6b3c63fd4140fadd4c65b7aa1ac07c4a4a9.png">
                <h4 class="blocks-item-title">Mensalidade<br><br></h4>
              </a>
            </li>
            <li class="blocks-item-ca">
              <a href='#!' class="blocks-item-link" id="btn-adicionais">
                <img src="//theme.zdassets.com/theme_assets/527873/d318992f2b3d36029fe4861009d42d1ebfbaa1e1.png">
                <h4 class="blocks-item-title">Serviços Adicionais<br><br></h4>
              </a>
            </li>
            <li class="blocks-item-ca">
              <a href='#!' class="blocks-item-link" id="btn-alteracao-baixa">
                <img src="//theme.zdassets.com/theme_assets/527873/014e84931f1cf51f3191fc6d130f20fcffaf32e8.png">
                <h4 class="blocks-item-title">Alteração e baixa<br><br></h4>
              </a>
            </li>
            <li class="blocks-item-ca">
              <a href='#!' class="blocks-item-link" id="btn-folha">
                <img src="//theme.zdassets.com/theme_assets/527873/dc8fc0fc4f56fa13e5d50c49112b0e5371b194f4.png">
                <h4 class="blocks-item-title">Folha de pagamento</h4>
              </a>
            </li>
            <li class="blocks-item-ca">
              <a href='#!' class="blocks-item-link" id="btn-outros-assuntos">
                <img src="//theme.zdassets.com/theme_assets/527873/910c14dc12b1ef2d4e0553747bc9098d108b4689.png">
                <h4 class="blocks-item-title">Outros assuntos<br><br></h4>
              </a>
            </li>
          </ul>

          <div class="container" id="links-info-mensalidade">
            <section class="section knowledge-base kb-margem-one">
              <section class="categories blocks">
                <ul class="blocks-list">
                  <li class="blocks-item-contato-group">
                    <span class="label label-success">Recomendado</span>
                    <div class="blocks-item-contato">
                      <a href='https://app.contabilizei.com.br/sistema/#/pagto-pendente' class="blocks-item-link">
                        <img
                          src="//theme.zdassets.com/theme_assets/527873/661ed6b3c63fd4140fadd4c65b7aa1ac07c4a4a9.png">
                        <h4 class="blocks-item-title">Ver faturas pendentes</h4>
                      </a>
                    </div>
                  </li>
                  <li class="blocks-item-contato-group">
                    <span class="label label-line">-</span>
                    <div class="blocks-item-contato">
                      <a href='https://app.contabilizei.com.br/sistema/#/pagto-pendente' class="blocks-item-link">
                        <img
                          src="//theme.zdassets.com/theme_assets/527873/810383b1d884bcdafe57955129b48274f43b92f1.png">
                        <h4 class="blocks-item-title">Segunda via fatura</h4>
                      </a>
                    </div>
                  </li>
                  <li class="only-servico-channel blocks-item-contato-group">
                    <span class="label label-line">-</span>
                    <div class="blocks-item-contato-destaque">
                      <a href='#!' class="blocks-item-link" id="chat-mensalidade">
                        <img
                          src="//theme.zdassets.com/theme_assets/527873/0ffbae7a10bbd622d8e23cdcaf10e36bc9984dfe.png">
                        <h4 class="blocks-item-title">Fale por chat</h4>
                      </a>
                    </div>
                  </li>

                  <li class="blocks-item-contato-group">
                    <span class="label label-line">-</span>
                    <div class="blocks-item-contato">
                      <a href='https://suporte.contabilizei.com.br/hc/pt-br/requests/new?ticket_form_id=360000557080'
                        class="blocks-item-link">
                        <img
                          src="//theme.zdassets.com/theme_assets/527873/2738977d62795124bb11a09aac6ba6afa0886ce6.png">
                        <h4 class="blocks-item-title bg-contato">Abrir chamado</h4>
                      </a>
                    </div>
                  </li>

                  <li class="only-servico-channel blocks-item-contato-group">
                    <span class="label label-line">-</span>
                    <div class="blocks-item-contato">
                      <a href='#!' class="blocks-item-link whats-acesso">
                        <img
                          src="//theme.zdassets.com/theme_assets/527873/7593414a7227405f4c3323010621af66ac759adc.png">
                        <h4 class="blocks-item-title">Falar por Whatsapp</h4>
                      </a>
                    </div>
                  </li>

                  <li class="only-servico-channel blocks-item-contato-group">
                    <span class="label label-line">-</span>
                    <div class="blocks-item-contato">
                      <a href='#!' class="blocks-item-link fone-acesso">
                        <img
                          src="//theme.zdassets.com/theme_assets/527873/85805e36085491917319d86a8f4f5d796e3c62e3.png">
                        <h4 class="blocks-item-title">Falar por Telefone</h4>
                      </a>
                    </div>
                  </li>
                </ul>
              </section>
            </section>
          </div>


          <div class="container" id="links-info-adicionais">

            <section class="section knowledge-base kb-margem-one">
              <section class="categories blocks">
                <ul id="servicos-adicionais" class="blocks-list">
                  <li class="only-servico-channel blocks-item-contato-group">
                    <span class="label label-success">Recomendado</span>
                    <div class="blocks-item-contato-destaque">
                      <a href='https://app.contabilizei.com.br/sistema/#/servicos-disponiveis' class="blocks-item-link">
                        <img
                          src="//theme.zdassets.com/theme_assets/527873/01f5acbf2b7072caab5c5f8788c8e4b291a8ba23.png">
                        <h4 class="blocks-item-title">Solicitar Serviços Adicionais</h4>
                      </a>
                    </div>
                  </li>

                  <section class="section knowledge-base kb-margem-one">
                    <section class="categories blocks">
                      <ul class="blocks-list">

                        <li class="only-servico-channel blocks-item-contato-group">
                          <!--  <span class="label label-success">Recomendado</span> -->
                          <span class="label label-line">-</span>
                          <div class="blocks-item-contato-destaque">
                            <a href='#!' class="blocks-item-link" id="chat-adicionais">
                              <img
                                src="//theme.zdassets.com/theme_assets/527873/0ffbae7a10bbd622d8e23cdcaf10e36bc9984dfe.png">
                              <h4 class="blocks-item-title">Fale por chat</h4>
                            </a>
                          </div>
                        </li>
                        <li class="blocks-item-contato-group">
                          <span class="label label-line">-</span>
                          <div class="blocks-item-contato">
                            <a href='https://suporte.contabilizei.com.br/hc/pt-br/requests/new?ticket_form_id=360000567100'
                              class="blocks-item-link">
                              <img
                                src="//theme.zdassets.com/theme_assets/527873/2738977d62795124bb11a09aac6ba6afa0886ce6.png">
                              <h4 class="blocks-item-title bg-contato">Abrir chamado</h4>
                            </a>
                          </div>
                        </li>
                        <li class="only-servico-channel blocks-item-contato-group">
                          <span class="label label-line">-</span>
                          <div class="blocks-item-contato">
                            <a href='#!' class="blocks-item-link whats-acesso">
                              <img
                                src="//theme.zdassets.com/theme_assets/527873/7593414a7227405f4c3323010621af66ac759adc.png">
                              <h4 class="blocks-item-title">Falar por Whatsapp</h4>
                            </a>
                          </div>
                        </li>
                        <li class="only-servico-channel blocks-item-contato-group">
                          <span class="label label-line">-</span>
                          <div class="blocks-item-contato">
                            <a href='#!' class="blocks-item-link fone-acesso">
                              <img
                                src="//theme.zdassets.com/theme_assets/527873/85805e36085491917319d86a8f4f5d796e3c62e3.png">
                              <h4 class="blocks-item-title">Falar por Telefone</h4>
                            </a>
                          </div>
                        </li>





                      </ul>
                    </section>
                  </section>
          </div>

          <div class="container" id="links-info-alteracao-baixa">
            <section class="section knowledge-base kb-margem-one">
              <section class="categories blocks">
                <ul class="blocks-list">
                  <li class="only-servico-channel blocks-item-contato-group">
                    <span class="label label-success">Recomendado</span>
                    <div class="blocks-item-contato-destaque">
                      <a href='#!' class="blocks-item-link" id="chat-alteracao-baixa">
                        <img
                          src="//theme.zdassets.com/theme_assets/527873/0ffbae7a10bbd622d8e23cdcaf10e36bc9984dfe.png">
                        <h4 class="blocks-item-title">Fale por chat</h4>
                      </a>
                    </div>
                  </li>
                  <li class="blocks-item-contato-group">
                    <span class="label label-line">-</span>
                    <div class="blocks-item-contato">
                      <a href='https://suporte.contabilizei.com.br/hc/pt-br/requests/new?ticket_form_id=360000567020'
                        class="blocks-item-link">
                        <img
                          src="//theme.zdassets.com/theme_assets/527873/2738977d62795124bb11a09aac6ba6afa0886ce6.png">
                        <h4 class="blocks-item-title bg-contato">Abrir chamado</h4>
                      </a>
                    </div>
                  </li>
                  <li class="only-servico-channel blocks-item-contato-group">
                    <span class="label label-line">-</span>
                    <div class="blocks-item-contato">
                      <a href='#!' class="blocks-item-link whats-acesso">
                        <img
                          src="//theme.zdassets.com/theme_assets/527873/7593414a7227405f4c3323010621af66ac759adc.png">
                        <h4 class="blocks-item-title">Falar por Whatsapp</h4>
                      </a>
                    </div>
                  </li>
                  <li class="only-servico-channel blocks-item-contato-group">
                    <span class="label label-line">-</span>
                    <div class="blocks-item-contato">
                      <a href='#!' class="blocks-item-link fone-acesso">
                        <img
                          src="//theme.zdassets.com/theme_assets/527873/85805e36085491917319d86a8f4f5d796e3c62e3.png">
                        <h4 class="blocks-item-title">Falar por Telefone</h4>
                      </a>
                    </div>
                  </li>



                </ul>
              </section>
            </section>
          </div>

          <div class="container" id="links-info-folha">
            <section class="section knowledge-base kb-margem-one">
              <section class="categories blocks">
                <ul class="blocks-list">

                  <li class="only-servico-channel blocks-item-contato-group">
                    <span class="label label-success">Recomendado</span>
                    <div class="blocks-item-contato-destaque">
                      <a href='#!' class="blocks-item-link" id="chat-folha">
                        <img
                          src="//theme.zdassets.com/theme_assets/527873/0ffbae7a10bbd622d8e23cdcaf10e36bc9984dfe.png">
                        <h4 class="blocks-item-title">Fale por chat</h4>
                      </a>
                    </div>
                  </li>

                  <li class="blocks-item-contato-one">
                    <div class="blocks-item-contato-destaque-one">
                      <a href='https://suporte.contabilizei.com.br/hc/pt-br/requests/new?ticket_form_id=360000551479'
                        class="blocks-item-link">
                        <img
                          src="//theme.zdassets.com/theme_assets/527873/2738977d62795124bb11a09aac6ba6afa0886ce6.png">
                        <h4 class="blocks-item-title bg-contato">Abrir chamado</h4>
                      </a>
                    </div>
                  </li>



                </ul>
              </section>
            </section>
          </div>

          <div class="container" id="links-info-outros-assuntos">
            <section class="section knowledge-base kb-margem-one">
              <section class="categories blocks">
                <ul class="blocks-list">
                  <li class="only-servico-channel blocks-item-contato-group">
                    <span class="label label-success">Recomendado</span>
                    <div class="blocks-item-contato-destaque">
                      <a href='#!' class="blocks-item-link" id="chat-outros-assuntos">
                        <img
                          src="//theme.zdassets.com/theme_assets/527873/0ffbae7a10bbd622d8e23cdcaf10e36bc9984dfe.png">
                        <h4 class="blocks-item-title">Fale por chat</h4>
                      </a>
                    </div>
                  </li>
                  <li class="blocks-item-contato-group">
                    <span class="label label-line">-</span>
                    <div class="blocks-item-contato">
                      <a href='https://suporte.contabilizei.com.br/hc/pt-br/requests/new?ticket_form_id=360000551499'
                        class="blocks-item-link">
                        <img
                          src="//theme.zdassets.com/theme_assets/527873/2738977d62795124bb11a09aac6ba6afa0886ce6.png">
                        <h4 class="blocks-item-title bg-contato">Abrir chamado</h4>
                      </a>
                    </div>
                  </li>
                  <li class="only-servico-channel blocks-item-contato-group">
                    <span class="label label-line">-</span>
                    <div class="blocks-item-contato">
                      <a href='#!' class="blocks-item-link whats-acesso">
                        <img
                          src="//theme.zdassets.com/theme_assets/527873/7593414a7227405f4c3323010621af66ac759adc.png">
                        <h4 class="blocks-item-title">Falar por Whatsapp</h4>
                      </a>
                    </div>
                  </li>
                  <li class="only-servico-channel blocks-item-contato-group">
                    <span class="label label-line">-</span>
                    <div class="blocks-item-contato">
                      <a href='#!' class="blocks-item-link fone-acesso">
                        <img
                          src="//theme.zdassets.com/theme_assets/527873/85805e36085491917319d86a8f4f5d796e3c62e3.png">
                        <h4 class="blocks-item-title">Falar por Telefone</h4>
                      </a>
                    </div>
                  </li>


                </ul>
              </section>
            </section>
          </div>











        </section>

        <div class="modal fade" id="acessoWhats" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <a href="https://web.whatsapp.com/send?phone=5541999720167&text=Contabilizei"><img
                    src="//theme.zdassets.com/theme_assets/527873/086f54bbd3c8f5452f04865e91ab2effb79b8c6b.png" /></a>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="acessoFone" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <a href="#!"><img
                    src="//theme.zdassets.com/theme_assets/527873/f2575f02bad6cd3d5caaab9f855a7037a96fca29.png" /></a>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="semAcessoWhats" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <a href="https://app.contabilizei.com.br/sistema/#/planos"><img
                    src="//theme.zdassets.com/theme_assets/527873/34bcb45b3a56737d99d5e7f7ea27f8b5853ff42b.png" /></a>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="semAcessoFone" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <a href="https://app.contabilizei.com.br/sistema/#/planos"><img
                    src="//theme.zdassets.com/theme_assets/527873/4dbc2cb6d2ef50425150c0986c2752820e011537.png" /></a>
              </div>
            </div>
          </div>
        </div>



















        <div class="container">
          <section class="section knowledge-base">
            <section class="categories blocks">
              <ul class="blocks-list-aba">

                <li class="category-item">
                  <p class="blocks-item-link" data-tab="#category_tab_360000421839">Ainda não sou cliente </p>
                </li>

                <li class="category-item">
                  <p class="blocks-item-link" data-tab="#category_tab_360000417960">Sou Cliente Contabilizei</p>
                </li>

                <li class="category-item">
                  <p class="blocks-item-link" data-tab="#category_tab_360000417940">Quem somos nós</p>
                </li>

              </ul>
              <br>
              <div class="categories">

                <ul class="sections-container" id="category_tab_360000421839">

                  <a href='/hc/pt-br/sections/360000598880-Migrar-Empresa' class="item-link">
                    <li>
                      <img class="asset-icon" data-image="img_360000598880"
                        src="//theme.zdassets.com/theme_assets/527873/6aae8ce36967837f706ac36deff4b753e43977a4.gif">
                      <span>Migrar Empresa</span>

                    </li>
                  </a>

                  <a href='/hc/pt-br/sections/360000601699-Abrir-Empresa' class="item-link">
                    <li>
                      <img class="asset-icon" data-image="img_360000601699"
                        src="//theme.zdassets.com/theme_assets/527873/6aae8ce36967837f706ac36deff4b753e43977a4.gif">
                      <span>Abrir Empresa</span>

                    </li>
                  </a>

                  <a href='/hc/pt-br/sections/200934035-Etapas-da-Abertura' class="item-link">
                    <li>
                      <img class="asset-icon" data-image="img_200934035"
                        src="//theme.zdassets.com/theme_assets/527873/6aae8ce36967837f706ac36deff4b753e43977a4.gif">
                      <span>Etapas da Abertura</span>

                    </li>
                  </a>

                </ul>
                </li>

                <ul class="sections-container" id="category_tab_360000417960">

                  <a href='/hc/pt-br/sections/360003601920-Conta-Banc%C3%A1ria-PJ' class="item-link">
                    <li>
                      <img class="asset-icon" data-image="img_360003601920"
                        src="//theme.zdassets.com/theme_assets/527873/6aae8ce36967837f706ac36deff4b753e43977a4.gif">
                      <span>Conta Bancária PJ</span>

                    </li>
                  </a>

                  <a href='/hc/pt-br/sections/360000597900-Certificado-digital' class="item-link">
                    <li>
                      <img class="asset-icon" data-image="img_360000597900"
                        src="//theme.zdassets.com/theme_assets/527873/6aae8ce36967837f706ac36deff4b753e43977a4.gif">
                      <span>Certificado digital</span>

                    </li>
                  </a>

                  <a href='/hc/pt-br/sections/360000600539-Declara%C3%A7%C3%B5es-e-relat%C3%B3rios-cont%C3%A1beis'
                    class="item-link">
                    <li>
                      <img class="asset-icon" data-image="img_360000600539"
                        src="//theme.zdassets.com/theme_assets/527873/6aae8ce36967837f706ac36deff4b753e43977a4.gif">
                      <span>Declarações e relatórios contábeis</span>

                    </li>
                  </a>

                  <a href='/hc/pt-br/sections/360002952020-Emissor-de-Boletos-' class="item-link">
                    <li>
                      <img class="asset-icon" data-image="img_360002952020"
                        src="//theme.zdassets.com/theme_assets/527873/6aae8ce36967837f706ac36deff4b753e43977a4.gif">
                      <span>Emissor de Boletos </span>

                    </li>
                  </a>

                  <a href='/hc/pt-br/sections/360000597740-Empresas-de-com%C3%A9rcio' class="item-link">
                    <li>
                      <img class="asset-icon" data-image="img_360000597740"
                        src="//theme.zdassets.com/theme_assets/527873/6aae8ce36967837f706ac36deff4b753e43977a4.gif">
                      <span>Empresas de comércio</span>

                    </li>
                  </a>

                  <a href='/hc/pt-br/sections/360000600439-Funcion%C3%A1rios' class="item-link">
                    <li>
                      <img class="asset-icon" data-image="img_360000600439"
                        src="//theme.zdassets.com/theme_assets/527873/6aae8ce36967837f706ac36deff4b753e43977a4.gif">
                      <span>Funcionários</span>

                    </li>
                  </a>

                  <a href='/hc/pt-br/sections/360000600379-Impostos-' class="item-link">
                    <li>
                      <img class="asset-icon" data-image="img_360000600379"
                        src="//theme.zdassets.com/theme_assets/527873/6aae8ce36967837f706ac36deff4b753e43977a4.gif">
                      <span>Impostos </span>

                    </li>
                  </a>

                  <a href='/hc/pt-br/sections/360000637879-Lucro-Presumido' class="item-link">
                    <li>
                      <img class="asset-icon" data-image="img_360000637879"
                        src="//theme.zdassets.com/theme_assets/527873/6aae8ce36967837f706ac36deff4b753e43977a4.gif">
                      <span>Lucro Presumido</span>

                    </li>
                  </a>

                  <a href='/hc/pt-br/sections/360000600479-Mensalidade' class="item-link">
                    <li>
                      <img class="asset-icon" data-image="img_360000600479"
                        src="//theme.zdassets.com/theme_assets/527873/6aae8ce36967837f706ac36deff4b753e43977a4.gif">
                      <span>Mensalidade</span>

                    </li>
                  </a>

                  <a href='/hc/pt-br/sections/360000600499-Minha-conta' class="item-link">
                    <li>
                      <img class="asset-icon" data-image="img_360000600499"
                        src="//theme.zdassets.com/theme_assets/527873/6aae8ce36967837f706ac36deff4b753e43977a4.gif">
                      <span>Minha conta</span>

                    </li>
                  </a>

                  <a href='/hc/pt-br/sections/360000637980-Notas-Fiscais-' class="item-link">
                    <li>
                      <img class="asset-icon" data-image="img_360000637980"
                        src="//theme.zdassets.com/theme_assets/527873/6aae8ce36967837f706ac36deff4b753e43977a4.gif">
                      <span>Notas Fiscais </span>

                    </li>
                  </a>

                  <a href='/hc/pt-br/sections/360000600419-Movimenta%C3%A7%C3%B5es-' class="item-link">
                    <li>
                      <img class="asset-icon" data-image="img_360000600419"
                        src="//theme.zdassets.com/theme_assets/527873/6aae8ce36967837f706ac36deff4b753e43977a4.gif">
                      <span>Movimentações </span>

                    </li>
                  </a>

                  <a href='/hc/pt-br/sections/360000597840-Programa-de-indica%C3%A7%C3%A3o' class="item-link">
                    <li>
                      <img class="asset-icon" data-image="img_360000597840"
                        src="//theme.zdassets.com/theme_assets/527873/6aae8ce36967837f706ac36deff4b753e43977a4.gif">
                      <span>Programa de indicação</span>

                    </li>
                  </a>

                  <a href='/hc/pt-br/sections/360000597800-Pr%C3%B3-labore-e-Distribui%C3%A7%C3%A3o-de-lucros'
                    class="item-link">
                    <li>
                      <img class="asset-icon" data-image="img_360000597800"
                        src="//theme.zdassets.com/theme_assets/527873/6aae8ce36967837f706ac36deff4b753e43977a4.gif">
                      <span>Pró-labore e Distribuição de lucros</span>

                    </li>
                  </a>

                  <a href='/hc/pt-br/sections/360000600519-Servi%C3%A7os-adicionais' class="item-link">
                    <li>
                      <img class="asset-icon" data-image="img_360000600519"
                        src="//theme.zdassets.com/theme_assets/527873/6aae8ce36967837f706ac36deff4b753e43977a4.gif">
                      <span>Serviços adicionais</span>

                    </li>
                  </a>

                </ul>
                </li>

                <ul class="sections-container" id="category_tab_360000417940">

                  <a href='/hc/pt-br/sections/360000601719-Nossa-Hist%C3%B3ria' class="item-link">
                    <li>
                      <img class="asset-icon" data-image="img_360000601719"
                        src="//theme.zdassets.com/theme_assets/527873/6aae8ce36967837f706ac36deff4b753e43977a4.gif">
                      <span>Nossa História</span>

                    </li>
                  </a>

                  <a href='/hc/pt-br/sections/360000646199-Nossa-Cultura' class="item-link">
                    <li>
                      <img class="asset-icon" data-image="img_360000646199"
                        src="//theme.zdassets.com/theme_assets/527873/6aae8ce36967837f706ac36deff4b753e43977a4.gif">
                      <span>Nossa Cultura</span>

                    </li>
                  </a>

                  <a href='/hc/pt-br/sections/360000645360-Conhe%C3%A7a-os-benef%C3%ADcios-de-ser-Contabilizei'
                    class="item-link">
                    <li>
                      <img class="asset-icon" data-image="img_360000645360"
                        src="//theme.zdassets.com/theme_assets/527873/6aae8ce36967837f706ac36deff4b753e43977a4.gif">
                      <span>Conheça os benefícios de ser Contabilizei</span>

                    </li>
                  </a>

                </ul>
                </li>

              </div>

            </section>


            <section class="articles">
              <h3>Artigos promovidos</h3>
              <ul class="article-list promoted-articles">

                <li class="promoted-articles-item">
                  <a href="/hc/pt-br/articles/360003781120-Guia-de-Abertura-de-Empresas">
                    Guia de Abertura de Empresas
                  </a>
                </li>

                <li class="promoted-articles-item">
                  <a
                    href="/hc/pt-br/articles/360017632479-Quais-s%C3%A3o-as-datas-de-pagamento-das-parcelas-do-13%C2%BA-sal%C3%A1rio-">
                    Quais são as datas de pagamento das parcelas do 13º salário?
                  </a>
                </li>

                <li class="promoted-articles-item">
                  <a
                    href="/hc/pt-br/articles/360017571920-Como-ser%C3%A1-calculado-o-13%C2%BA-sal%C3%A1rio-para-os-empregados-que-tiveram-redu%C3%A7%C3%A3o-ou-suspens%C3%A3o-em-2020-">
                    Como será calculado o 13º salário para os empregados que tiveram redução ou suspensão em 2020?
                  </a>
                </li>

                <li class="promoted-articles-item">
                  <a
                    href="/hc/pt-br/articles/360015364259-FAQ-Prorroga%C3%A7%C3%A3o-dos-Acordos-de-Redu%C3%A7%C3%A3o-e-Suspens%C3%A3o-240-dias">
                    FAQ - Prorrogação dos Acordos de Redução e Suspensão - 240 dias
                  </a>
                </li>

                <li class="promoted-articles-item">
                  <a
                    href="/hc/pt-br/articles/360014282220-ATUALIZADO-Redu%C3%A7%C3%A3o-de-Jornada-e-Sal%C3%A1rio-Suspens%C3%A3o-Tempor%C3%A1ria-de-Contrato-de-Trabalho-e-Benef%C3%ADcio-Emergencial-FAQ-Completo">
                    ATUALIZADO - Redução de Jornada e Salário, Suspensão Temporária de Contrato de Trabalho e Benefício
                    Emergencial - FAQ Completo
                  </a>
                </li>

                <li class="promoted-articles-item">
                  <a href="/hc/pt-br/articles/360007583680-Como-funciona-a-licen%C3%A7a-maternidade-da-s%C3%B3cia-">
                    Como funciona a licença maternidade da sócia?
                  </a>
                </li>

              </ul>
            </section>

          </section>


        </div>

  </main>

  <footer class="footer">
    <div class="footer-inner">


      <div class="footer-language-selector">

      </div>
    </div>
  </footer>

  <script type="text/javascript">

    $(document).ready(function () {   //same as: $(function() { 
      function autenticacaoZendesk() {
        zE('webWidget', 'identify', {
          name: HelpCenter.user.name,
          email: HelpCenter.user.email,
          organization: HelpCenter.user.organizations[0].name
        });
      }

      autenticacaoZendesk();
    });




  </script>


  <!-- / -->


  <script src="//static.zdassets.com/hc/assets/pt-br.fbca33210ac7bc6c9cf4.js"></script>
  <script src="https://contabilizei.zendesk.com/auth/v2/host.js" data-brand-id="91843"
    data-return-to="https://suporte.contabilizei.com.br/hc/pt-br" data-theme="hc" data-locale="pt-br"
    data-auth-origin="91843,true,true"></script>

  <script type="text/javascript">
    /*
  
      Greetings sourcecode lurker!
  
      This is for internal Zendesk and legacy usage,
      we don't support or guarantee any of these values
      so please don't build stuff on top of them.
  
    */

    HelpCenter = {};
    HelpCenter.account = { "subdomain": "contabilizei", "environment": "production", "name": "Contabilizei Contabilidade Online" };
    HelpCenter.user = { "identifier": "461fe6c7d286a0f7be7a68d60e3af56b871dad9c", "email": "elde@advicegroup.com.br", "name": "Elde Oliveira", "tags": [], "locale": "pt-br", "role": "end_user", "avatar_url": "https://secure.gravatar.com/avatar/8c17c0f561598fb900373d599d50492c?default=https%3A%2F%2Fassets.zendesk.com%2Fhc%2Fassets%2Fdefault_avatar.png\u0026r=g", "is_admin": false, "organizations": [{ "name": "2M ASSESSORIA EMPRESARIAL EIRELI", "tags": ["status:ativo", "simples", "basico", "serviço", "cnpj:18630025000134", "plano:básico"], "isShared": true }], "groups": [] };
    HelpCenter.internal = { "asset_url": "//static.zdassets.com/hc/assets/", "web_widget_asset_composer_url": "https://static.zdassets.com/ekr/snippet.js", "current_session": { "locale": "pt-br", "csrf_token": "hc:hcobject:server:s0sSw6eBOciCcwOLkx+pf7HrllPFRTtyCHIfpkFOjlpb2DqTz/BZA2afgJzmt2+yayAdtPVsdscQrx2B2MmYvg==", "shared_csrf_token": "IXM3pKza9LQo7uFxMQGfTU4tPFcAKShqDJ6G5224/WY=" }, "settings": {}, "usage_tracking": { "event": "front_page_viewed", "data": "BAh7BjoKX21ldGF7CzoPYWNjb3VudF9pZGkDAQ4IOhNoZWxwX2NlbnRlcl9pZGkEdmzsCzoNYnJhbmRfaWRpA8NmAToMdXNlcl9pZGwrCEgTXQxUADoTdXNlcl9yb2xlX25hbWVJIg1FTkRfVVNFUgY6BkVUOgtsb2NhbGVJIgpwdC1icgY7C1Q=--f28492769a24b856a303ce4ac14c63385c72a686", "url": "https://suporte.contabilizei.com.br/hc/activity" }, "current_record_id": null, "current_record_url": null, "current_record_title": null, "search_results_count": null, "current_text_direction": "ltr", "current_brand": { "account_id": 527873, "brand_id": 91843, "brand_url": "https://suporte.contabilizei.com.br", "url": "https://contabilizei.zendesk.com/api/v2/brands/91843.json", "name": "Contabilizei Contabilidade Online", "logo": "", "subdomain": "contabilizei", "host_mapping": "suporte.contabilizei.com.br", "help_center_state": "enabled", "ticket_form_ids": null, "active": true, "default": true, "has_help_center": true, "created_at": "2014-05-18T16:37:18Z", "updated_at": "2021-01-07T20:18:57Z", "id": 91843, "route_id": 422903 }, "current_brand_url": "https://contabilizei.zendesk.com", "current_host_mapping": "suporte.contabilizei.com.br", "current_path": null, "authentication_domain": "https://contabilizei.zendesk.com", "show_autocomplete_breadcrumbs": true, "rollbar_config": { "enabled": true, "endpoint": "https://rollbar-eu.zendesk.com/api/1/item/", "accessToken": "f575c68c45fc4d5e9025994620c5c3dc", "captureUncaught": true, "captureUnhandledRejections": true, "payload": { "environment": "production", "client": { "javascript": { "source_map_enabled": true, "code_version": "ac318665cb2bb00ea24c537e86eb12e0175b0db3", "guess_uncaught_frames": true } } } }, "user_info_changing_enabled": false, "has_user_profiles_enabled": true, "has_end_user_attachments": true, "user_aliases_enabled": false, "has_anonymous_kb_voting": true, "has_multi_language_help_center": true, "mobile_device": false, "mobile_site_enabled": true, "show_at_mentions": true, "embeddables_config": { "embeddables_web_widget": false, "embeddables_connect_ipms": false }, "base_domain": "zendesk.com", "answer_bot_subdomain": "static", "manage_content_url": "https://suporte.contabilizei.com.br/hc/pt-br", "arrange_content_url": "https://suporte.contabilizei.com.br/hc/admin/arrange_contents?locale=pt-br", "general_settings_url": "https://suporte.contabilizei.com.br/hc/admin/general_settings?locale=pt-br", "user_segments_url": "https://contabilizei.zendesk.com/knowledge/user_segments?brand_id=91843", "has_gather": true, "has_community_enabled": false, "has_community_badges": false, "has_user_segments": true, "has_answer_bot_web_form_enabled": true, "has_answer_bot_web_form_modal_v2": false, "billing_url": "/access/return_to?return_to=https://contabilizei.zendesk.com/admin/billing/subscription", "has_block_answer_bot_embeddable": false, "is_account_owner": false, "theming_cookie_key": "hc-461fe6c7d286a0f7be7a68d60e3af56b871dad9c1-preview", "is_preview": false, "has_guide_user_segments_search": true, "has_alternate_templates": false, "arrange_articles_url": "https://contabilizei.zendesk.com/knowledge/arrange?brand_id=91843", "article_verification_url": "https://contabilizei.zendesk.com/knowledge/verification?brand_id=91843", "has_article_verification": false, "guide_language_settings_url": "https://suporte.contabilizei.com.br/hc/admin/language_settings?locale=pt-br", "docs_importer_url": "https://contabilizei.zendesk.com/knowledge/import_articles?brand_id=91843", "community_badges_url": "https://contabilizei.zendesk.com/knowledge/community_badges?brand_id=91843", "community_settings_url": "https://contabilizei.zendesk.com/knowledge/community_settings?brand_id=91843", "gather_plan_state": "subscribed", "search_settings_url": "https://contabilizei.zendesk.com/knowledge/search_settings?brand_id=91843", "has_multibrand_search_in_plan": false, "theming_api_version": 1, "has_pci_credit_card_custom_field": true, "has_prefill_request_form_from_url": true, "current_brand_id": 91843, "help_center_restricted": false, "current_brand_active": true, "is_assuming_someone_else": false, "flash_messages": [], "user_photo_editing_enabled": true, "has_end_user_apps": false };
  </script>

  <script src="//static.zdassets.com/hc/assets/moment-f6f8513da6ab17eadada59a1a4edb536.js"></script>
  <script src="//static.zdassets.com/hc/assets/hc_enduser-1c3c7f65068eb2969f199220010b50e4.js"></script>

</body>

</html>